.dropzone {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 300px;
    border-radius: 5px;
    font-family: 'museo-sans', sans-serif;
    font-weight: 700;
    background: white;
    border: 2px dashed #06292a;
    margin: 10px 0;
    &.hovering {
        border: 2px solid #06292A;
        color: #dadada !important;
    }
    h3 {
        font-size: 1.5rem;
    }
    .file-label:hover {
        text-decoration: underline;
    }
}

progress::-webkit-progress-value {
    transition: width 0.1s ease;
}

.profile-image img,
.profile-image i {
    height: 154px;
    width: 154px;
    border-radius: 100%;
    border: 8px solid white;
    background: white;
    margin: 50px;
}

.study-link {
    margin-top: 15px;
    color: #06292A
}

.study-link:hover {
    text-decoration: underline;
}