<div *ngIf="uploaded">
  <div class="profile-image has-text-centered">
    <img [src]="downloadURL" alt="profile-image">
  </div>
  <div class="has-text-centered">
    <a (click)="uploaded = false" class="study-link">Choose Another Image</a>
  </div>

</div>

<div *ngIf="!uploaded">
  <div class="dropzone" dropZone (hovered)="toggleHover($event)" (dropped)="uploadProfileImage($event)" [class.hovering]="isHovering">



    <h3>Drag a File Here</h3>

    <div class="file">
      <label class="file-label">


        <input class="file-input" type="file" (change)="uploadProfileImage($event.target.files)">
        <span>
          <span class="file-label">
            or choose a file…
          </span>
        </span>
      </label>
    </div>
  </div>
  <div *ngIf="percentage | async as pct">

    <progress class="progress is-info" [value]="pct" max="100">
    </progress>
  </div>
</div>