<app-navbar></app-navbar>

<section class="hero is-fullheight" id="sign-in-main">
    <div class="hero-body">
        <div class="container has-text-centered" id="sign-in-container">
            <h1 class="title">
                Sign In
            </h1>
            <div class="columns">
                <div class="column">
                    <div class="has-text-centered">
                        <h1 class="connect-title">Sign In With</h1>
                        <div class="buttons is-centered">
                            <ul>
                                <li>
                                    <button class="social-sign-in-btn has-text-centered" id="google-sign-in">
                                        <span class="social-logo"><img src="/assets/images/feature-images/mobile/icons/google_logo.svg"></span>
                                        <span class="social-text">Sign in with Google</span>
                                    </button>
                                </li>
                                <li>
                                    <button class="social-sign-in-btn" id="facebook-sign-in">
                                        <span class="social-logo"><img src="/assets/images/feature-images/mobile/icons/facebook_logo.svg"></span>
                                        <span class="social-text">Sign in with Facebook</span>
                                    </button>
                                </li>
                                <li>
                                    <button class="social-sign-in-btn" id="twitter-sign-in">
                                        <span class="social-logo"><img src="/assets/images/feature-images/mobile/icons/twitter_logo.svg"></span>
                                        <span class="social-text">Sign in with Twitter</span>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <svg width="24px" height="378px" viewBox="0 0 24 378" version="1.1"
                     xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <!-- Generator: Sketch 48.2 (47327) - http://www.bohemiancoding.com/sketch -->
                    <title>Group 9</title>
                    <desc>Created with Sketch.</desc>
                    <defs></defs>
                    <g id="Sign-In-Desktop" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"
                       transform="translate(-709.000000, -375.000000)">
                        <g id="Group-5" transform="translate(231.000000, 256.000000)">
                            <g id="Group" transform="translate(103.000000, 119.000000)">
                                <g id="Group-9" transform="translate(371.000000, 0.000000)">
                                    <text id="or" font-family="AvenirNext-Bold, Avenir Next" font-size="20"
                                          font-weight="bold" letter-spacing="3.341666" fill="#BFBFBF">
                                        <tspan x="3.59631601" y="195">or</tspan>
                                    </text>
                                    <path d="M16.6799201,0.5 L16.6799201,171.573084" id="Line-2" stroke="#979797"
                                          stroke-linecap="square"></path>
                                    <path d="M16.6799201,205.5 L16.6799201,376.573084" id="Line-2-Copy"
                                          stroke="#979797" stroke-linecap="square"></path>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
                <div class="column has-text-left" id="email-sign-in">
                    <form>
                        <div class="field">
                            <label class="label" for="email">Email:</label>
                            <input class="input" type="text" id="email" name="email">
                        </div>
                        <div class="field">
                            <label class="label" for="password">Password:</label>
                            <div class="control">
                                <input class="input" type="password" id="password" name="password">
                                <p class="help"><span>Forgot your password?</span><a href="">Reset Password</a></p>
                            </div>
                        </div>
                        <div class="has-text-right">
                            <button class="sign-in-btn btn">Sign In</button>
                        </div>
                    </form>
                </div>
            </div>
            <p class="no-account"><span>Don't have an account?</span> <a href="">Sign Up</a></p>
        </div>
    </div>
</section>