#sign-in-main {
    background: url('/assets/images/background-images/sign-in-webp.webp') no-repeat center center fixed,
    url('/assets/images/background-images/sign-in-bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#sign-in-container {
    margin-top: 137px;
    height: 50%;
    width: 50%;
    background-color: #FFFFFF;
}

#sign-in-container .title {
    color: #000000;
    font-family: "museo-sans", sans-serif;
    font-weight: 900;
    font-size: 2.3rem;
    padding-top: 35px;
    letter-spacing: 4px;
    line-height: 38px;
}

#sign-in-container .columns {
    margin-top: 46px;
}

#sign-in-container .no-account {
    padding-bottom: 21px;
}

.sign-in-btn {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: #f23b2c;
    background-color: #f23b2c;
    box-shadow: 0 8px 18px 0 rgba(90, 89, 89, 0.5);
    color: #ffffff;
    font-family: 'museo-sans', sans-serif;
    font-weight: 900;
    letter-spacing: 1px;
    line-height: 19px;
    text-align: center;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.sign-in-btn:hover {
    background-color: #d13527;
    box-shadow: none;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.sign-in-btn[disabled] {
    box-shadow: none;
    background-color: #cb5032;
    cursor: not-allowed !important;
}

.btn {
    font-family: 'museo-sans', sans-serif;
    font-weight: 900;
    letter-spacing: 2px;
    line-height: 25px;
    text-align: center;
    font-size: 16px;
    height: 45px;
    width: 150px;
}

.btn:hover {
    cursor: pointer;
}

#email-sign-in form {
    width: 75%;
    margin-left: 72.7px;
}

#email-sign-in .input {
    border: none;
    border-bottom: 1px solid #979797;
    box-shadow: none;
    border-radius: 0;
    font-family: 'museo-sans', sans-serif;
    letter-spacing: 1px;
}

#email-sign-in input:focus {
    border-bottom: 2px solid #979797;
}

.field:not(:first-child) {
    margin-top: 73px;
}

.field:first-child {
    margin-top: 10px;
}

.help {
    margin-top: 20px;
}

.help, .no-account {
    font-size: .75rem;
    color: #7F7F7F;
    font-family: "museo-sans", sans-serif;
    letter-spacing: 1px;
    line-height: 11px;
}

.no-account {
    margin-top: 29px;
}

.no-account a {
    margin-left: 12.5px;
    color: #F23B2C;
    letter-spacing: 1px;
}

.no-account a:hover {
    text-decoration: underline;
}

.help a {
    margin-left: 12px;
    color: #3A3838;
}

.help a:hover {
    text-decoration: underline;
}

.label {
    letter-spacing: 2px;
}

.connect-title {
    font-family: "museo-sans", sans-serif;
    font-size: 1.7rem;
    font-weight: 900;
    letter-spacing: 3px;
    line-height: 27px;
}

.social-sign-in-btn {
    height: 54px;
    width: 278px;
    border-radius: 5px;
    margin-top: 28px;
    display: inline-block;
    border: none;
    color: #FFFFFF;
    font-family: "museo-sans", sans-serif;
    font-size: 14px;
    font-weight: 900;
    letter-spacing: 2px;
    line-height: 19px;
    text-align: center;
    box-shadow: 0 8px 18px 0 rgba(125, 124, 124, 0.41);
    transition: box-shadow 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#facebook-sign-in {
    background-color: #415DAF;
}

#twitter-sign-in {
    background-color: #00ACED;
}

.social-sign-in-btn:hover {
    box-shadow: none;
    cursor: pointer;
    transition: box-shadow 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#google-sign-in {
    color: #9E9B9B;
    font-family: "museo-sans", sans-serif;
    font-weight: 900;
    letter-spacing: 2px;
    line-height: 16px;
    box-shadow: 0 8px 18px 2px rgba(202, 187, 187, 0.5);
}

#google-sign-in:hover {
    box-shadow: 0 0 14px 1px rgba(202, 187, 187, 0.5);
}

#facebook-sign-in .social-text {
    margin-top: 5px;
    margin-right: 15px;
}

#twitter-sign-in .social-text {
    margin-top: 5px;
    margin-right: 30px;
}

.social-logo img {
    padding-top: 5px;
    margin-left: 15px;
    float: left;
}

#google-sign-in .social-logo img {
    margin-left: 12px;
}

.social-text {
    float: right;
    margin-top: 10px;
    margin-right: 37px;
}

@media screen and (max-width: 768px) {

    .connect-title {
        font-size: 1.2rem;
    }

    #sign-in-container {
        margin-top: 40px;
    }

    #sign-in-container .columns {
        margin-top: 10px;

    }

    .buttons {
        margin-bottom: 20px;
    }

    #email-sign-in {
        width: 100%;
        margin-top: 20px;
    }

    #email-sign-in form {
        margin: 0 auto;
    }

    #email-sign-in .field {
        margin-left: auto;
        margin-right: auto;
    }

    .help, .no-account {
        font-size: 0.6rem;
    }

    .sign-in-btn {
        margin-top: 30px;
    }

    #google-sign-in {
        background-color: white;
    }

    #google-sign-in .social-text {
        margin-top: 8px;
        margin-right: 10px;
    }

    #facebook-sign-in .social-text {
        margin-right: 5px;
        font-size: 0.8rem;
    }

    #twitter-sign-in .social-text {
        margin-right: 5px;
        font-size: 0.9rem;
    }

    .social-sign-in-btn {
        width: 250px;
    }
}