<footer class="footer-container">
    <div class="container footer-info">
        <div class="content has-text-centered">
            <div class="columns headings">
                <div class="column">
                    <h3>Product</h3>
                </div>
                <div class="column">
                    <h3>Organization</h3>
                </div>
                <div class="column">
                    <h3>Support</h3>
                </div>
            </div>
            <div class="content">
                <div class="columns">
                    <div class="column">
                        <a>Bible Studies</a>
                    </div>
                    <div class="column">
                        <a>About Biblya</a>
                    </div>
                    <div class="column">
                        <a>FAQ</a>
                    </div>
                </div>
                <div class="columns">
                    <div class="column">
                        <a>Bible Search</a>
                    </div>
                    <div class="column">
                        <a>Terms of Use</a>
                    </div>
                    <div class="column">
                        <a>Support Center</a>
                    </div>
                </div>
                <div class="columns">
                    <div class="column"></div>
                    <div class="column">
                        <a>Privacy Policy</a>
                    </div>
                    <div class="column"></div>
                </div>
                <div class="columns">
                    <div class="column"></div>
                    <div class="column">
                        <a>Updates & Releases</a>
                    </div>
                    <div class="column"></div>
                </div>
                <div class="columns">
                    <div class="column"></div>
                    <div class="column">
                        <a>Contact Us</a>
                    </div>
                    <div class="column"></div>
                </div>
            </div>
        </div>
        <div class="has-text-centered copyright">
            © 2018-2024 Biblya, Blacksburg Christian Fellowship
        </div>
    </div>
</footer>