<div class="container has-text-centered" id="main-text" data-aos="fade-down" data-aos-duration="1200">
    <i class="fa fa-envelope-open envelope" *ngIf="!isVerified"></i>
    <i class="fa fa-check envelope" *ngIf="isVerified"></i>
    <h1 *ngIf="!isVerified">Verify Email</h1>
    <h1 *ngIf="isVerified">Email Verified</h1>
</div>
<div class="container has-text-centered" id="sub-text" data-aos="fade-up" data-aos-duration="1200">
    <p *ngIf="!isVerified">Great, we have your account ready for you! Now just verify your email and we can get started!</p>
    <p *ngIf="isVerified">Your email has been verified. Redirecting you to your dashboard...</p>
    <p *ngIf="isVerified === false" id="verification-problem">Hmm...Seems like your email has not been verified.</p>
    <p *ngIf="!isVerified" class="resend-verification">Didn't get it? We can resend it! <a class="verification-link" (click)="resendVerificationEmail()">Resend Verification Email</a></p>
    <button *ngIf="!isVerified" class="verify-cta btn" (click)="checkVerification()">I Verified!</button>
    <span data-aos="fade-up" *ngIf="isVerified" class="button is-loading" id="loading-icon">Loading</span>
</div>