#result-header>h1 {
    margin-top: 100px;
    font-family: "museo-sans", sans-serif;
    font-weight: 900;
    font-size: 5em;
    letter-spacing: 8px;
    color: black;
}

.sort-text {
    width: 70px;
    font-family: "museo-sans", sans-serif;
    font-weight: 700;
    font-size: 1em;
    color: black;
}

#select {
    width: 100px;
    float: right;
}

#sort-label {
    float: left;
}
#controls {
    float: left;
    padding: 5px;
    height: 24px;
}

#controls {
    height: 24px;
}

#controls li {
    line-height: 24px;
}


#wrapper {
    margin-top: 40px;
    padding: 5px;
}

#extra-length {
    width: 130px;
}

.option {
    height: 24px;
    width: 140px;
    background: #06292A;
    font-family: "museo-sans", sans-serif;
    color: white;
    text-align: center;
}

#verse {
    width: 60px;
    margin-left: 130px;
    margin-top: -24px;
}

#comm {
    width: 130px;
    margin-left: 200px;
    margin-top: -24px;
}

#result-container {
    
    height: 1500px;
}

/* Custom dropdown */
.custom-dropdown {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px; /* demo only */
}

.custom-dropdown select {
    font-family: "museo-sans", sans-serif;
    color: #000000;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 19px;
    border: 1px solid #979797;
    padding: .2em 3em .2em .5em;
    margin: 0;
    text-indent: 0.01px;
    border-radius: 0;
    background: transparent;
    /*Hiding the select arrow for firefox*/
    -moz-appearance: none;
    /*Hiding the select arrow for chrome*/
    -webkit-appearance:none;
}
/*Hiding the select arrow for IE10*/
.custom-dropdown select::-ms-expand {
    display: none;
}

.custom-dropdown::before,
.custom-dropdown::after {
    content: "";
    position: absolute;
    pointer-events: none;
}

.custom-dropdown::after { /*  Custom dropdown arrow */
    content: "\25BC";
    height: 1em;
    font-size: .425em;
    line-height: 1;
    right: 1.2em;
    top: 50%;
    margin-top: -.5em;
}