.announcements {
    margin-left: 25px;
    margin-top: 25px;
}

.announcement-container {
    height: 150px;
}

.announcement {
    height: 150px;
}

.profile-image {
    border-radius: 100%;
    box-sizing: border-box;
    height: 42px;
    width: 42px;
    border: 2px solid #FFFFFF;
    background-color: #D8D8D8;
    box-shadow: 0 4px 4px 0 rgba(88, 82, 82, 0.49);
}

.announcement .head {
    display: flex;
    align-items: center;
}

.date-info {
    color: #837E7E;
    font-family: 'museo-sans', sans-serif;
    font-size: 0.9rem;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 19px;
    text-align: center;
}

.nav-header {
    color: #000000;
    font-family: 'museo-sans', sans-serif;
    font-size: 1.3rem;
    font-weight: 900;
    letter-spacing: 2px;
    line-height: 27px;
}

.content {
    padding-left: 55px;
}

.announcement-text {
    height: 64px;
    color: #817D7D;
    font-family: 'museo-sans', sans-serif;
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 16px;
    padding-right: 30px;
}

.announcement-text,
.announcement p {
    height: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.announcement-text p {
    word-wrap: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
}

.announcement:not(:first-child) {
    margin-top: -120px;
}

.announcement {
    margin-bottom: -10px;
}

.announcement:last-child {
    margin-bottom: 20px;
}
