<nav class="navbar" id="navbar-banner">
    <ul class="navvy">
        <li id="logo">
            <a id="logo-link" class="nav-link" [routerLink]="'/'">The Logo</a>
        </li>
        <li id="sign-in">
            <a class="nav-link">Sign In</a>
        </li>
        <div class="mid-nav">
            <div class="columns">
                <div class="column">
                    <a [routerLink]="'/'" class="nav-link">Home</a>
                </div>
                <div class="column">
                    <a class="nav-link">About</a>
                </div>
                <div class="column">
                    <a [routerLink]="'/search'" class="nav-link">Search</a>
                </div>
            </div>
        </div>
    </ul>
</nav>
