<nav class="navbar" id="navbar-banner" data-aos="fade-down" data-aos-duration="500" data-aos-once="true">
    <ul class="navvy">
        <li id="logo" data-aos="fade-down-right" data-aos-duration="1200" data-aos-once="true">
            <a id="logo-link" class="nav-link" [routerLink]="'/'" (click)="toHome()">The Logo</a>
        </li>
        <li id="sign-in" data-aos="fade-down-left" data-aos-duration="1200" data-aos-once="true">
            <a class="nav-link">Sign In</a>
        </li>
        <div class="mid-nav">
            <div class="columns">
                <div class="column" data-aos="zoom-in-right" data-aos-duration="1200" data-aos-once="true">
                    <a [routerLink]="'/'" class="nav-link" (click)="toHome()">Home</a>
                </div>
                <div class="column"  data-aos="zoom-in" data-aos-duration="1200" data-aos-once="true">
                    <a class="nav-link">About</a>
                </div>
                <div class="column" data-aos="zoom-in-left" data-aos-duration="1200" data-aos-once="true">
                    <a [routerLink]="'/search'" class="nav-link">Search</a>
                </div>
            </div>
        </div>
    </ul>
</nav>
