#navbar-banner {
    background: #06292A;
}

#logo {
    position: relative;
    left: 10px;
    float: left; 
   
    
}

#logo-link {
    font-size: 4rem;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#logo:hover {
    filter: brightness(0.8);
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.nav-link:hover {
    color: #afacac;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#sign-in {
    position: relative;
    right: 88px;
    float: right;
}

.nav-link {
    width: 73px;
    line-height: 19px;
    letter-spacing: 1px;
    font-size: 1.2rem;
    font-weight: 900;
    color: #ffffff;
    text-align: center;
}

.nav-icon {
    position: relative;
    bottom: 100%;
}

.navvy li {
    height: 19px;
}

.mid-nav {
    position: relative;
    width: 295px;
    margin: 0 auto;
    text-align: center;
}

.navvy {
    width: 100%;
}

#navbar-banner {
    padding: 35px;
}