.post.card {
    width: 80%;
    margin: 0 auto;
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px 2px rgba(202, 187, 187, 0.5);
    padding: 0;
}

.post .card-header-title {
    color: #000000;
    font-family: 'museo-sans', sans-serif;
    font-size: 1.8rem;
    margin-top: 31px;
    margin-bottom: 28px;
    font-weight: 900;
    letter-spacing: 2px;
    line-height: 30px;
    padding: 0;
}

.post .annotation-title {
    font-size: 1.4rem !important;
    margin-top: 20px;
    margin-left: 25px !important;
}

.post .card-header-title,
.post .card-content {
    margin-left: 35px;
}

.post .card-header {
    box-shadow: none;
    width: 100%;
}

.post .card-content .content {
    padding: 0;
}

.post .metadata {
    margin: 19px 25px auto auto !important;
    color: #767272 !important;
    font-size: 0.8rem !important;
    font-weight: 700 !important;
    font-family: "museo-sans", sans-serif !important;
    letter-spacing: 2px !important;
    line-height: 22px !important;
    text-align: center !important;
}

.post .metadata .date {
    color: #242323 !important;
}

.post .metadata .annotation-date,
.post .annotation-type {
    font-size: 0.6rem !important;
    color: #767272 !important;
    line-height: 1.5 !important;
}

.post .annotation-metadata {
    margin-right: 15px !important;
    margin-top: 11px !important;
}

.post .card-links {
    margin-top: 24px;
}

.post .links a:hover {
    text-decoration: underline;
}

.post .card-links h1,
.post .card-verses h1 {
    height: 19px;
    width: 49px;
    color: #000000;
    font-family: 'museo-sans', sans-serif;
    font-size: 1.1rem;
    font-weight: 900;
    letter-spacing: 2px;
    line-height: 19px;
}

.post .card-verses h1 {
    margin-top: 25px;
}

.post .card-body {
    width: 532px;
    color: #000000;
    font-family: 'museo-sans', sans-serif;
    font-size: 1.0rem;
    letter-spacing: 1px;
    line-height: 19px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
    white-space: pre-wrap;
}

.verse-container {
    width: 90%;
}

.post .card-content {
    padding: 0;
    margin-bottom: 50px;
}

.post-actions {
    margin-bottom: 29px;
}

.post-actions a:not(:first-child) {
    padding-left: 36.5px;
    padding-right: 36.5px;
}

.contributors .fa {
    margin-right: 5px;
}

.post-action,
.contributor-text {
    color: #000000;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 25px;
}

.post-action#more-action {
    margin-left: 20px !important;
}

.annotation-action#more-action {
    margin-left: 0px !important;
}

.lower {
    position: relative;
    bottom: -9px;
}

.annotation-action {
    font-size: 0.8rem !important;
    margin-right: 5px;
}

.annotation-with-replies {
    position: relative;
    top: 2px;
}

.annotation-dropdown {
    position: relative;
    right: -3px;
}

.remove-padding {
    padding-right: 0;
    padding-left: 0;
}

.annotation-contributors {
    padding-left: 0;
}

.annotation-actions {
    margin-left: -10px;
}

.annotation-contributor {
    font-size: 0.7rem !important;
    color: #767272;
    margin-right: 3px !important;
}

.post-action:hover {
    text-decoration: underline;
}

.replies {
    padding-bottom: 50px;
    margin-bottom: 50px;
}

.annotation-card-content {
    margin-bottom: 25px !important;
}

.reply {
    width: 90%;
    margin: 0 auto;
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(202, 187, 187, 0.5);
}

.annotation-reply {
    width: 80% !important;
}

.annotation-reply-text {
    font-size: 0.8rem;
    margin-left: 10px !important;
    word-wrap: break-word;
    width: 100px;
}

.annotation-subreply {
    word-wrap: break-word;
    width: 60px !important;
}

.annotation-name {
    font-size: 0.7rem !important;
}

.reply-annotation-image {
    width: 24px;
    height: 24px;
    margin-right: 0 !important;
}

.contributor-text {
    margin-right: 7px;
}

.annotator-image {
    position: relative;
    top: 7px !important;
    margin-right: 0 !important;
}

.contributor-image {
    z-index: 5;
    box-sizing: border-box;
    height: 28px;
    width: 28px;
    margin-top: -1px;
    border: 1px solid #FFFFFF;
    background-color: #D8D8D8;
    box-shadow: 0 4px 4px 0 rgba(88, 82, 82, 0.49);
    border-radius: 100%;
}

.contributors .contributor-image {
    margin-right: 5px;
}

.contributor-image:last-child {
    margin-right: 35px;
}

.contributors {
    display: flex;
    align-items: center;
    justify-content: flex-end
}

.post .type {
    color: #313030;
}

.person-container {
    display: flex;
    align-items: center;
}

.reply {
    padding: 18px 25px;
}

.name {
    margin-left: 13px;
    font-weight: 700;
    letter-spacing: 2px;
}

.reply-text {
    margin-left: 29px;
    width: 60%;
    word-wrap: break-word;
}

.sub-reply {
    margin-left: 13px;
}

.sub-reply .person-container {
    align-items: baseline;
}

.sub-reply .contributor-image {
    position: relative;
    top: 8px;
    margin-left: 3px;
}

.add-reply {
    margin-top: 20px;
    margin-left: 7px;
}

#more-actions,
#share-buttons {
    box-shadow: 0 4px 8px 2px rgba(202, 187, 187, 0.5);
    border: none;
    z-index: 700;
}

#more-actions .dropdown-content,
#share-buttons .dropdown-content {
    border-radius: 0;
    box-shadow: none;
    z-index: 800;
}

.red-link:hover {
    color: red;
}

.study-btn {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: #06292A;
    background-color: #06292A;
    box-shadow: 0 8px 18px 0 rgba(90, 89, 89, 0.5);
    color: #ffffff;
    font-family: 'museo-sans', sans-serif;
    font-weight: 900;
    letter-spacing: 1px;
    line-height: 19px;
    text-align: center;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.study-btn:hover {
    cursor: pointer;
    background-color: rgb(3, 33, 34);
    box-shadow: none;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.study-btn[disabled] {
    box-shadow: none;
    background-color: rgba(90, 89, 89, 0.4);
    cursor: not-allowed !important;
}

.btn.modal-btn {
    width: 150px;
    margin-right: 20px;
    margin-left: 20px;
}

.btn {
    font-family: 'museo-sans', sans-serif;
    font-weight: 900;
    letter-spacing: 2px;
    line-height: 25px;
    text-align: center;
    font-size: 16px;
    height: 45px;
    width: 200px;
}

.input {
    border: none;
    border-bottom: 1px solid #979797;
    box-shadow: none;
    border-radius: 0;
    font-family: 'museo-sans', sans-serif;
    letter-spacing: 1px;
}

.input:focus {
    border-bottom: 2px solid #979797;
    box-shadow: none;
}

.reply:not(:first-child) {
    margin-top: 20px;
}

.sub-reply:not(:first-child) {
    margin-top: -9px;
}

.modal.is-active {
    z-index: 9999;
}