 <div class="nav-section" id="main">
        <h1 class="nav-header">Main</h1>
        <ul class="nav-links">
          <li [class.active]="activeTab === 'feed'" (click)="switchTab('feed')">
            <a (click)="switchTab('feed')">Main Feed</a>
          </li>
          <li [class.active]="activeTab === 'announcements'" (click)="switchTab('announcements')">
            <a (click)="switchTab('announcements')">Announcements</a>
          </li>
        </ul>
      </div>
      <hr>
      <div class="nav-section" id="shared">
        <h1 class="nav-header">Shared</h1>
        <ul class="nav-links">
          <li [class.active]="activeTab === 'shared-bible'" (click)="switchTab('shared-bible')">
            <a (click)="switchTab('shared-bible')">Shared Bible</a>
          </li>
          <li [class.active]="activeTab === 'shared-calendar'" (click)="switchTab('shared-calendar')">
            <a (click)="switchTab('shared-calendar')">Shared Calendar</a>
          </li>
        </ul>
      </div>
      <hr>
      <div class="nav-section" id="inquiry">
        <h1 class="nav-header">Inquiry</h1>
        <ul class="nav-links">
          <li [class.active]="activeTab === 'discussions'" (click)="switchTab('discussions')">
            <a (click)="switchTab('discussions')">Discussions</a>
          </li>
          <li [class.active]="activeTab === 'questions'" (click)="switchTab('questions')">
            <a (click)="switchTab('questions')">Questions</a>
          </li>
        </ul>
      </div>
      <hr>
      <div class="nav-section" id="personal">
        <h1 class="nav-header">Personal</h1>
        <ul class="nav-links">
          <li (click)="switchTab('dashboard')">
            <a>My Dashboard</a>
          </li>
          <li *ngIf="isLeader" [class.active]="activeTab === 'settings'" (click)="switchTab('settings')">
            <a (click)="switchTab('settings')">Settings</a>
          </li>
          <li>
            <a (click)="switchTab('logout')">Logout</a>
          </li>
        </ul>
      </div>