<div class="post card">
  <header class="card-header">
    <ng-content select=".card-header-title"></ng-content>
    <ng-content select=".metadata"></ng-content>
  </header>
  <div class="card-content">
    <div class="content">
      <div class="card-text">
        <ng-content select=".card-body"></ng-content>
      </div>
      <div class="card-links">
        <h1>Links:</h1>
        <ng-content select=".links"></ng-content>
      </div>
    </div>
    <div class="post-actions columns">
      <div class="column">
        <a class="post-action" href="">Reply (1)</a>
        <a class="post-action" href="">Star</a>
      </div>
      <div class="column is-three-fifths has-text-right">
        <div class="contributors">
          <span class="contributor-text" href="">Contributor(s): </span>
          <img class="contributor-image" src="/assets/images/background-images/sign-in-bg.jpg" alt="">
          <img class="contributor-image" src="/assets/images/background-images/sign-up-bg.jpg" alt="">
        </div>
      </div>
    </div>

  </div>
  <div class="replies">
    <div class="reply">
      <div class="person-container">
        <img class="contributor-image" src="/assets/images/background-images/sign-in-bg.jpg" alt="">
        <span class="name">Brandon Fan</span>
        <p class="reply-text">Nice man!</p>
      </div>
      <div class="sub-reply">

        <div class="person-container">
          <svg width="27px" height="34px" viewBox="0 0 27 34" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <!-- Generator: Sketch 49 (51002) - http://www.bohemiancoding.com/sketch -->
            <title>Group 5</title>
            <desc>Created with Sketch.</desc>
            <defs>
              <path d="M1.5,31.5 L25.5,31.5" id="path-1"></path>
              <filter x="-10.0%" y="-50.0%" width="120.0%" height="266.7%" filterUnits="objectBoundingBox" id="filter-2">
                <feMorphology radius="0.5" operator="dilate" in="SourceAlpha" result="shadowSpreadOuter1"></feMorphology>
                <feOffset dx="0" dy="1" in="shadowSpreadOuter1" result="shadowOffsetOuter1"></feOffset>
                <feMorphology radius="1" operator="erode" in="SourceAlpha" result="shadowInner"></feMorphology>
                <feOffset dx="0" dy="1" in="shadowInner" result="shadowInner"></feOffset>
                <feComposite in="shadowOffsetOuter1" in2="shadowInner" operator="out" result="shadowOffsetOuter1"></feComposite>
                <feGaussianBlur stdDeviation="0.5" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
                <feColorMatrix values="0 0 0 0 0.792156863   0 0 0 0 0.733333333   0 0 0 0 0.733333333  0 0 0 0.5 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
              </filter>
              <path d="M1.5,0.5 L1.5,31.5" id="path-3"></path>
              <filter x="-83.3%" y="-4.7%" width="266.7%" height="115.6%" filterUnits="objectBoundingBox" id="filter-4">
                <feMorphology radius="0.5" operator="dilate" in="SourceAlpha" result="shadowSpreadOuter1"></feMorphology>
                <feOffset dx="0" dy="1" in="shadowSpreadOuter1" result="shadowOffsetOuter1"></feOffset>
                <feMorphology radius="1" operator="erode" in="SourceAlpha" result="shadowInner"></feMorphology>
                <feOffset dx="0" dy="1" in="shadowInner" result="shadowInner"></feOffset>
                <feComposite in="shadowOffsetOuter1" in2="shadowInner" operator="out" result="shadowOffsetOuter1"></feComposite>
                <feGaussianBlur stdDeviation="0.5" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
                <feColorMatrix values="0 0 0 0 0.792156863   0 0 0 0 0.733333333   0 0 0 0 0.733333333  0 0 0 0.5 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
              </filter>
            </defs>
            <g id="Light-Dashboard-Designs" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="square">
              <g id="Light-Dashboard-Desktop" transform="translate(-477.000000, -533.000000)">
                <g id="Post" transform="translate(420.000000, 214.000000)">
                  <g id="Group-5" transform="translate(57.000000, 319.000000)">
                    <g id="Line-8">
                      <use fill="black" fill-opacity="1" filter="url(#filter-2)" xlink:href="#path-1"></use>
                      <use stroke="#979797" stroke-width="1" xlink:href="#path-1"></use>
                    </g>
                    <g id="Line-7">
                      <use fill="black" fill-opacity="1" filter="url(#filter-4)" xlink:href="#path-3"></use>
                      <use stroke="#979797" stroke-width="1" xlink:href="#path-3"></use>
                    </g>
                  </g>
                </g>
              </g>
            </g>
          </svg>
          <div>
            <img class="contributor-image" src="/assets/images/background-images/sign-up-bg.jpg" alt="">
            <span class="name">Howard Shi</span>
          </div>
          <p class="reply-text">Sure No Problem @Brandon Fan!</p>
        </div>
      </div>
      <div class="add-reply">
        <a class="post-action" href="">Reply (1)</a>
      </div>
    </div>
  </div>
</div>