.card-header, .card-footer {
    border: none;
    box-shadow: none;
}

.card-header-title {
    margin: 35px auto 35px 35px;
    color: #000000;
    font-family: "museo-sans", sans-serif;
    font-size: 2.5rem;
    font-weight: 900;
    letter-spacing: 3px;
    line-height: 49px;
}

.card {
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px 2px rgba(202,187,187,0.5);
}

em {
    background-color: #06292A;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
    color: white;
    font-style: normal;
    padding: 5px 15.5px;
    margin: auto 5px;
}

.card-header>.type {
    margin: 23px 28.5px auto auto;
    color: #767272;
    font-size: 1.1rem;
    font-weight: 700;
    font-family: "museo-sans", sans-serif;
    letter-spacing: 2px;
    line-height: 22px;
    text-align: center;
}

.card-content .content {
    color: #000000;
    font-family: "museo-sans", sans-serif;
    font-size: 1.2rem;
    letter-spacing: 2px;
    line-height: 30px;
    padding: 0 101px 29px 55px;
}
.card-content {
    padding: 0 1.5rem 1.5rem 1.5rem;
}

.card-footer .columns {
    margin: 0 ;
}

.verse-actions {
    padding: 29px 0 23px 55px;
}

.verse-actions a:not(:first-child) {
    padding-left: 36.5px;
}

.verse-action {
    color: #000000;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 25px;
}

.verse-action:hover {
    text-decoration: underline;
}

.likes {
    color: #767272;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 22px;
    width: 100%;
    text-align: right;
    padding-right: 5px;
}

.like-data span {
    height: 100%;
}

.verse-likes {
    padding: 29px 55px 23px 0;
}

.like-data {
    display: flex;
    text-align: right;
    align-items: center;
}

.fa-heart-o {
    color: #FF0000;
}

.fa-heart-o:hover:before {
    cursor: pointer;
    content: '\f004';
}

.verse-dropdown {
    padding-left: 36.5px;
}

#more-actions, #share-buttons {
    box-shadow: 0 4px 8px 2px rgba(202,187,187,0.5);
    border: none;
    z-index: 700;
}

#more-actions .dropdown-content, #share-buttons .dropdown-content {
    border-radius: 0;
    box-shadow: none;
    z-index: 800;
}

.card-container {
    margin-top: 92px;
}
.similar-verses {
    padding: 61px;
}
.verse {
    padding: 32px 61px;
    margin-bottom: 28px;
    box-shadow: 0 4px 8px 2px rgba(202,187,187,0.5);
}

.reference {
    color: #000000;
    font-size: 1.3rem;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 25px;
    margin-right: 25px;
}

.text {
    font-size: 1.1rem;
    letter-spacing: 1px;
    line-height: 22px;
}

.similar-verse-heading {
    font-size: 1.4rem;
    font-weight: 900;
    color: #000000;
    margin-bottom: 28px;
    letter-spacing: 4px;
    line-height: 27px;
}

.metadata-info {
    font-size: 1.1rem;
    color: #000000;
    margin-bottom: 11px;
}

.metadata-info:last-child {
    margin-bottom: 50px;
}

.info-header {
    letter-spacing: 4px;
    line-height: 22px;
    font-weight: 900;
}

#sort-label {
    font-weight: 900;
    letter-spacing: 2px;
}

@media screen and (max-width: 1024px) {

    .similar-verses {
        padding: 0;
    }
    .similar-verses .verse {
        padding: 20px;
    }
    .card-header>.type {
        padding-top: 28px;
        text-align: right;
    }
    .card-header-text {
        margin: 0 auto;
    }
    .card-header-title {
        margin: auto;
    }
    .card-body {
        text-align: center !important;
        line-height: 40px;
    }

    .card-content .content {
        padding: 0 0 0 0;
    }

    .similar-verse {
        text-align: center;
    }

    .reference {
        margin-right: auto;
    }
}