<footer class="footer-container">
    <div class="desktop is-hidden-mobile container footer-info">
        <div class="content has-text-centered">
            <div class="columns headings">
                <div class="column">
                    <h3 data-aos="fade-right" data-aos-duration="1000">Product</h3>
                </div>
                <div class="column">
                    <h3 data-aos="fade-down" data-aos-duration="1000">Organization</h3>
                </div>
                <div class="column">
                    <h3 data-aos="fade-left" data-aos-duration="1000">Support</h3>
                </div>
            </div>
            <div class="content">
                <div class="columns" data-aos="fade-up" data-aos-duration="1000">
                    <div class="column">
                        <a [routerLink]="'/dashboard/home'" angulartics2On="click" angularticsAction="Clicked Bible Studies link in footer" [angularticsCategory]="'link-click'"
                            angularticsLabel="navigation">Bible Studies</a>
                    </div>
                    <div class="column">
                        <a [routerLink]="'/about'">About Biblink</a>
                    </div>
                    <div class="column">
                        <a [routerLink]="'/support/faq'">FAQ</a>
                    </div>
                </div>
                <div class="columns" data-aos="fade-up" data-aos-duration="1000">
                    <div class="column">
                        <a [routerLink]="'/search'" angulartics2On="click" angularticsAction="Clicked Bible Search link in footer" [angularticsCategory]="'link-click'"
                            angularticsLabel="navigation">Bible Search</a>
                    </div>
                    <div class="column">
                        <a [routerLink]="'/legal/terms-of-use'">Terms of Use</a>
                    </div>
                    <div class="column">
                        <a [routerLink]="'/support/center'">Support Center</a>
                    </div>
                </div>
                <div class="columns" data-aos="fade-up" data-aos-duration="1000">
                    <div class="column"> </div>
                    <div class="column">
                        <a [routerLink]="'/legal/privacy-policy'">Privacy Policy</a>
                    </div>
                    <div class="column"> </div>
                </div>
                <div class="columns" data-aos="fade-up" data-aos-duration="1000">
                    <div class="column"> </div>
                    <div class="column">
                        <a [routerLink]="'/organization/updates-&-releases'">Updates & Releases</a>
                    </div>
                    <div class="column"> </div>
                </div>
                <div class="columns" data-aos="fade-up" data-aos-duration="1000">
                    <div class="column"> </div>
                    <div class="column">
                        <a [routerLink]="'/organization/contact'">Contact Us</a>
                    </div>
                    <div class="column"> </div>
                </div>
            </div>
        </div>
        <div data-aos="fade-up" data-aos-anchor=".footer-info" data-aos-duration="1500">
            <p class="has-text-right version-number">
                a1.0.5v
            </p>
            <p class="has-text-centered copyright">
                © 2018-2024 Biblya, Blacksburg Christian Fellowship
            </p>
        </div>
    </div>
    <div class="is-hidden-tablet">
        <div class="mobile is-hidden-tablet container footer-info">
            <div class="content has-text-centered">
                <div>
                    <div class="headings">
                        <h3 data-aos="fade-right" data-aos-duration="1000">Product</h3>
                    </div>
                    <div class="content" data-aos="fade-up-left" data-aos-duration="1000">
                        <div>
                            <a [routerLink]="'/dashboard/home'" angulartics2On="click" angularticsAction="Clicked Bible Studies link in footer" [angularticsCategory]="'link-click'"
                                angularticsLabel="navigation">Bible Studies</a>
                        </div>
                        <div>
                            <a [routerLink]="'/search'" angulartics2On="click" angularticsAction="Clicked Bible Search link in footer" [angularticsCategory]="'link-click'"
                                angularticsLabel="navigation">Bible Search</a>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="headings">
                        <h3 data-aos="fade-left" data-aos-duration="1000">Organization</h3>
                    </div>
                    <div class="content" data-aos="fade-up-right" data-aos-duration="1000">
                        <div>
                            <a [routerLink]="'/about'">About Biblink</a>
                        </div>
                        <div>
                            <a [routerLink]="'/legal/terms-of-use'">Terms of Use</a>
                        </div>
                        <div>
                            <a [routerLink]="'/legal/privacy-policy'">Privacy Policy</a>
                        </div>
                        <div>
                            <a [routerLink]="'/organization/updates-&-releases'">Updates & Releases</a>
                        </div>
                        <div>
                            <a [routerLink]="'/organization/contact'">Contact Us</a>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="headings">
                        <h3 data-aos="fade-right" data-aos-duration="1000">Support</h3>
                    </div>
                    <div class="content" data-aos="fade-up-left" data-aos-duration="1000">
                        <div>
                            <a [routerLink]="'/support/faq'">FAQ</a>
                        </div>
                        <div>
                            <a [routerLink]="'/support/center'">Support Center</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mobile has-text-centered copyright" data-aos="fade-up" data-aos-duration="1500" data-aos-anchor=".footer-info">
            © 2018-2024 Biblya, Blacksburg Christian Fellowship
        </div>
    </div>
</footer>