<app-study-nav [title]="title" [groupID]="groupUniqueID"></app-study-nav>

<div class="main-content">
  <div class="columns">
    <div class="left-nav column is-one-fifth">
      <div class="nav-section" id="main">
        <h1 class="nav-header">Main</h1>
        <ul class="nav-links">
          <li [class.active]="currentTab === 'feed'" (click)="switchTab('feed')">
            <a (click)="switchTab('feed')">Main Feed</a>
          </li>
          <li [class.active]="currentTab === 'announcements'" (click)="switchTab('announcements')">
            <a (click)="switchTab('announcements')">Announcements</a>
          </li>
        </ul>
      </div>
      <hr>
      <div class="nav-section" id="shared">
        <h1 class="nav-header">Shared</h1>
        <ul class="nav-links">
          <li [class.active]="currentTab === 'shared-bible'" (click)="switchTab('shared-bible')">
            <a (click)="switchTab('shared-bible')">Shared Bible</a>
          </li>
          <!-- <li [class.active]="currentTab === 'shared-calendar'" (click)="switchTab('shared-calendar')">
            <a (click)="switchTab('shared-calendar')">Shared Calendar</a>
          </li> -->
        </ul>
      </div>
      <hr>
      <div class="nav-section" id="inquiry">
        <h1 class="nav-header">Inquiry</h1>
        <ul class="nav-links">
          <li [class.active]="currentTab === 'discussions'" (click)="switchTab('discussions')">
            <a (click)="switchTab('discussions')">Discussions</a>
          </li>
        </ul>
      </div>
      <hr>
      <div class="nav-section" id="personal">
        <h1 class="nav-header">Personal</h1>
        <ul class="nav-links">
          <li (click)="navigateTo('/dashboard/home')">
            <a>My Dashboard</a>
          </li>
          <li *ngIf="isLeader" [class.active]="currentTab === 'settings'" (click)="switchTab('settings')">
            <a (click)="switchTab('settings')">Settings</a>
          </li>
          <li (click)="logout()">
            <a>Logout</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-info column is-three-fifths is-centered">
      <div class="posts" *ngIf="currentTab !== 'shared-bible' && currentTab !== 'discussions' &&  currentTab !== 'shared-calendar' && currentTab !== 'settings' ">
        <app-post-card *ngFor="let post of posts | async; let i = index;" [studyID]="groupID" [isLeader]="isLeader"
          [isLast]="(i + 1) === postLength" [id]="post['id']" [userID]="userID" [isCreator]="userID === post['creatorID']"
          [contributors]="post['contributors']" (delete)="deletePost($event, post['id'], post['creatorID'], isLeader)"
          (edit)="editPost($event, post['id'], post['creatorID'], isLeader)" (reply)="replyToPost($event, post['id'])"
          (more)="getMorePosts(post['timestamp'])">
          <p class="card-header-title">{{post['title']}}</p>
          <div class="metadata">
            <div class="type">
              <p>{{capitalize(post['type'])}}</p>
            </div>
            <div class="date">
              <p>{{post['dateInfo']['time']}}</p>
              <p>{{post['dateInfo']['date']}}</p>
            </div>
          </div>
          <div class="card-body" [innerHtml]="post['htmlText'] | safeHtml" (mouseenter)="getVerse($event)" [id]="'post-text-' + i">

          </div>
          <div class="links" *ngIf="!checkIfExists(post['links'])">
            <h1>Links:</h1>
            <div>
              <div class="link-container" *ngFor="let link of post['links']" [innerHtml]="link | safeHtml"></div>
            </div>
          </div>
          <div class="verses" *ngIf="!checkIfExists(post['verses'])" (mouseenter)="getVerseLinks($event)" [id]="'verses-links-' + i">
            <h1>Verses:</h1>
            <div>
              <div class="verse-container" *ngFor="let verse of post['verses']" [innerHtml]="verse | safeHtml"></div>
            </div>
          </div>
        </app-post-card>
        <div class="has-text-centered" *ngIf="!(isLoading | async) && (postLength === 0 && (currentTab !== 'shared-bible' && currentTab !== 'shared-calendar'))">
          <h1 class="title is-4">Be the first to add a{{currentTab === 'announcements' ? 'n announcement' : (currentTab
            === 'feed' ? ' post' : '
            ' + currentTab.slice(0, -1))}}!
          </h1>
          <button class="btn study-btn" (click)="expandActions(); setPostType((currentTab === 'feed' ? 'post' : currentTab.slice(0, -1)));">Add
            One</button>
        </div>
      </div>
      <div class="shared-bible" *ngIf="currentTab === 'shared-bible'">
        <div class="container" id="preferences">
          <ul id="controls">
            <li class="sort-label">
              <label for="sort">Book:</label>
            </li>
            <li class="shared-select">
              <span class="custom-dropdown">
                <select class="sort-select" id="book" [(ngModel)]="activeBook" (ngModelChange)="getChapter(activeBook, activeChapter);">
                  <option [ngValue]="book" *ngFor="let book of books">{{book}}</option>
                </select>
              </span>
            </li>
            <li class="sort-label" id="chapter-label">
              <label for="sort">Chapter:</label>
            </li>
            <li class="shared-select">
              <span class="custom-dropdown">
                <select class="sort-select" id="chapter" [(ngModel)]="activeChapter" (ngModelChange)="getChapter(activeBook, activeChapter)">
                  <option [ngValue]="number" *ngFor="let number of bibleData?.chapters">{{number}}</option>
                </select>
              </span>
            </li>
          </ul>
        </div>
        <div class="bible-header">
          <h1 class="reference">{{activeBook}} {{activeChapter}}</h1>
          <div class="bible-actions" *ngIf="!(isLoading | async)">
            <a class="more-link bible-navigation bible-navigation-left" (click)="previousChapter()" [class.disabled]="activeChapter === 1">
              < Previous Chapter</a> <a class="more-link bible-navigation bible-navigation-right" (click)="nextChapter()"
                [class.disabled]="activeChapter === numChapters">Next Chapter >
            </a>
          </div>
        </div>
        <div class="bible-text">
          <ng-container *ngFor="let verse of bibleData?.verse_data; let i = index;">

            <ng-container *ngIf="countVerses[i]?.count === 0">
              <span class="shared-bible-verse" [class.is-underlined]="underlinedVerses[i]" (click)="underlinedVerses[i] = underlinedVerses[i] === true ? false: true; expandActions(); prepareAnnotation();">
                <span class="verse-number">{{verse['verse_number']}}</span>
                {{verse['text']}}
              </span>
            </ng-container>

            <ng-container *ngIf="countVerses[i]?.count > 0">
              <span class="shared-bible-verse" [class.is-underlined]="underlinedVerses[i]" [class.is-darkened]="darkenedVerses[i]"
                (click)="darkenedVerses[i] = darkenedVerses[i] === true ? false: true; expandActions(); prepareAnnotation();">
                {{verse['text']}}
              </span>
              <ng-container *ngIf="darkenedVerses[i]">
                <img class="num-annotations-animation" *ngFor="let image of countVerses[i]['images']" [src]="image">
              </ng-container>

              <div class="num-annotations">{{countVerses[i]['count']}}</div>

            </ng-container>
          </ng-container>
        </div>
        <div class="bible-actions" *ngIf="!(isLoading | async)">
          <a class="more-link bible-navigation bible-navigation-left" (click)="previousChapter()" [class.disabled]="activeChapter === 1">
            < Previous Chapter</a> <a class="more-link bible-navigation bible-navigation-right" (click)="nextChapter()"
              [class.disabled]="activeChapter === numChapters">Next Chapter >
          </a>
        </div>
      </div>
      <div class="discussions" *ngIf="currentTab === 'discussions'">
        <div class="specific-question" *ngIf="displayDiscussion.title !== ''">
          <a class="back-button" (click)="closeQuestion()">
            < Go Back</a> <h1 class="topic-title">{{displayDiscussion.title}}</h1>
              <h4 class="topic-descriptors">{{displayDiscussion.text}}</h4>
              <div class="question-metadata">
                <div class="question-date-info">
                  <span class="question-metadata-bold">Posted On:</span> {{displayDiscussion.dateInfo.date}},
                  {{displayDiscussion.dateInfo.time}}
                </div>
                <div class="author">
                  <span class="question-metadata-bold">Author:</span> {{displayDiscussion.creatorName}}
                </div>
              </div>
              <div class="responses">
                <p class="response-number" *ngIf="numOfResponses > 1">{{numOfResponses}} Responses</p>
                <p class="response-number" *ngIf="numOfResponses === 1">{{numOfResponses}} Response</p>
                <div class="response" *ngFor="let response of responses | async">
                  <div class="member">
                    <img *ngIf="response['image'] !== null && response['image'] !== ''" class="profile-image" [src]="response['image']">
                    <div class="member-name">
                      <span>{{response['name']}}</span>
                    </div>
                  </div>
                  <p class="response-text">
                    {{response['text']}}
                  </p>
                </div>
              </div>
              <div class="is-centered create-discussion-container">
                <button class="btn discussion-btn" (click)="showQuestionReplyModal()">Add
                  a Response</button>
              </div>
        </div>
        <div class="discussion" *ngIf="displayTopic.title !== '' && displayDiscussion.title === ''">
          <div class="discussion-header">
            <a class="back-button" (click)="closeDiscussions()">
              < Go Back</a> <h1 class="topic-title">Topic: {{displayTopic.title}}</h1>
                <h4 class="topic-descriptors"><span class="topic-descriptor-bold">Description:</span>
                  {{displayTopic.description}}</h4>
                <h4 class="topic-descriptors"><span class="topic-descriptor-bold">Created By:</span>
                  {{displayTopic.creatorName}}</h4>
          </div>
          <div class="is-centered">
            <div class="no-discussions" *ngIf="discussionLength === 0">Looks like you don't have any discussions!</div>
          </div>
          <div class="questions">
            <div class="question" *ngFor="let discussion of discussions | async">
              <a class="question-header" (click)="openDiscussion(discussion)">{{discussion['title']}}</a>
              <p class="question-text">{{discussion['text']}}</p>
              <div>
                <p class="question-creator">Created By: {{discussion['creatorName']}}</p>
                <div class="dropdown is-hoverable question-dropdown">
                  <div class="question-more dropdown-trigger">
                    <a aria-haspopup="true" aria-controls="more-actions" class="post-action" id="more-action">
                      <img src="/assets/icons/more-icon.svg" alt="more options">
                    </a>

                  </div>
                  <div class="dropdown-menu" id="question-actions" role="menu">
                    <div class="dropdown-content">
                      <div class="dropdown-item">
                        <a class="post-action" (click)="emitEdit()">Edit</a>
                      </div>
                      <hr class="dropdown-divider">
                      <div class="dropdown-item">
                        <!-- TODO: Add Delete Functionality -->
                        <a class="red-link" (click)="activateZ = 10">Delete</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="is-centered create-discussion-container">
            <button class="btn discussion-btn" (click)="showDiscussionModal()">Add
              New Discussion</button>
          </div>
        </div>
        <div class="columns is-centered is-multiline" *ngIf="displayTopic.title === ''">
          <div *ngIf="topicsLength === 0">Looks like you don't have any topics!</div>
          <div class="column is-half" *ngFor="let topic of topics | async">
            <div class="card discussion-card">
              <div class="card-content">
                <div class="card-text">
                  <p class="title is-4 has-text-centered">{{topic.title}}</p>
                  <div class="has-text-left">
                    <p class="discussion-description">
                      <b>Description: </b> {{topic.description}}
                    </p>
                    <p>
                      <b>Created By: </b> {{topic.creatorName}}
                    </p>
                    <p>
                      <b># of Discussions: </b> {{topic.discussionNumber}}
                    </p>
                  </div>
                </div>
                <div class="has-text-centered cta-btn open-discussion-btn">
                  <button class="btn study-btn discussion-light" (click)="openTopic(topic)">Open Topic</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="is-centered create-topic-container" *ngIf="displayTopic.title === '' && isLoading.value === false">
          <button class="btn study-btn" (click)="showTopicModal()">Add
            New Topic</button>
        </div>
      </div>
      <div class="settings" *ngIf="currentTab === 'settings'">
        <h1 class="header">Study Settings</h1>
        <div class="settings-tabs tabs is-centered">
          <ul>
            <li [class.is-active-tab]="settingsTab === 'info'">
              <a id="studies" (click)="switchSettingsTab('info')">Info</a>
            </li>
            <li [class.is-active-tab]="settingsTab === 'roles'">
              <a (click)="switchSettingsTab('roles')">Roles</a>
            </li>
          </ul>
        </div>
        <div class="settings-content">
          <div *ngIf="settingsTab === 'info'" class="study-info">
            <h1 class="settings-title">Study Info</h1>
            <div>
              <div data-aos="zoom-in" *ngIf="!(imageUrl === undefined || imageUrl === null || imageUrl === '')" class="profile-image personal-info-image has-text-centered"
                (click)="editingImage = 'studyImage'">
                <img src="{{imageUrl}}" alt="Image">
                <div class="middle">
                  <svg width="28px" height="44px" viewBox="0 0 28 44" version="1.1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink">
                    <!-- Generator: Sketch 49 (51002) - http://www.bohemiancoding.com/sketch -->
                    <title>Group 10</title>
                    <desc>Created with Sketch.</desc>
                    <defs></defs>
                    <g id="Light-Dashboard-Designs" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <g id="Light-Dashboard-Profile" transform="translate(-707.000000, -803.000000)" fill="#FFFFFF">
                        <g id="Info-Card" transform="translate(503.000000, 733.000000)">
                          <g id="Group-9" transform="translate(171.000000, 48.000000)">
                            <g id="Profile-Image-Status-Copy">
                              <g id="Group-10" transform="translate(29.000000, 20.000000)">
                                <path d="M20.2661287,0.502019801 L20.2661287,0.502019801 C23.3210672,0.502019801 25.7975842,2.97853675 25.7975842,6.03347523 L25.7975842,35.2711682 L14.7346733,35.2711682 L14.7346733,6.03347523 C14.7346733,2.97853675 17.2111903,0.502019801 20.2661287,0.502019801 Z"
                                  id="Rectangle-3" transform="translate(20.266129, 17.886594) rotate(29.000000) translate(-20.266129, -17.886594) "></path>
                                <path d="M8.67086421,36.6073423 L13.276437,45.8184879 L2.27643702,45.8184879 L6.88200983,36.6073423 C7.12899908,36.1133638 7.72967212,35.9131395 8.22365062,36.1601287 C8.41717802,36.2568924 8.57410051,36.4138149 8.67086421,36.6073423 Z"
                                  id="Triangle" transform="translate(7.776437, 40.936412) rotate(209.000000) translate(-7.776437, -40.936412) "></path>
                              </g>
                            </g>
                          </g>
                        </g>
                      </g>
                    </g>
                  </svg>
                </div>
              </div>
              <div *ngIf="imageUrl === undefined || imageUrl === null || imageUrl === ''" class="has-text-centered profile-icon personal-info-image"
                (click)="editingImage = 'studyImage'">
                <i class="user fa fa-user"></i>
                <div class="middle" (click)="editingImage = 'studyImage'">
                  <svg width="28px" height="44px" viewBox="0 0 28 44" version="1.1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink">
                    <!-- Generator: Sketch 49 (51002) - http://www.bohemiancoding.com/sketch -->
                    <title>Group 10</title>
                    <desc>Created with Sketch.</desc>
                    <defs></defs>
                    <g id="Light-Dashboard-Designs" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <g id="Light-Dashboard-Profile" transform="translate(-707.000000, -803.000000)" fill="#FFFFFF">
                        <g id="Info-Card" transform="translate(503.000000, 733.000000)">
                          <g id="Group-9" transform="translate(171.000000, 48.000000)">
                            <g id="Profile-Image-Status-Copy">
                              <g id="Group-10" transform="translate(29.000000, 20.000000)">
                                <path d="M20.2661287,0.502019801 L20.2661287,0.502019801 C23.3210672,0.502019801 25.7975842,2.97853675 25.7975842,6.03347523 L25.7975842,35.2711682 L14.7346733,35.2711682 L14.7346733,6.03347523 C14.7346733,2.97853675 17.2111903,0.502019801 20.2661287,0.502019801 Z"
                                  id="Rectangle-3" transform="translate(20.266129, 17.886594) rotate(29.000000) translate(-20.266129, -17.886594) "></path>
                                <path d="M8.67086421,36.6073423 L13.276437,45.8184879 L2.27643702,45.8184879 L6.88200983,36.6073423 C7.12899908,36.1133638 7.72967212,35.9131395 8.22365062,36.1601287 C8.41717802,36.2568924 8.57410051,36.4138149 8.67086421,36.6073423 Z"
                                  id="Triangle" transform="translate(7.776437, 40.936412) rotate(209.000000) translate(-7.776437, -40.936412) "></path>
                              </g>
                            </g>
                          </g>
                        </g>
                      </g>
                    </g>
                  </svg>
                </div>
              </div>
              <br>
              <p class="has-text-centered" data-aos="fade-up" data-aos-duration="1200">
                <a class="edit-image" (click)="editingImage = 'studyImage'">Edit Image</a>
              </p>
            </div>
            <div class="banner-image">
              <div data-aos="zoom-in" *ngIf="!(bannerImage === undefined || bannerImage === null || bannerImage === '')"
                class="profile-image personal-info-image has-text-centered" (click)="editingImage = 'bannerImage'">
                <img src="{{bannerImage}}" alt="Image">
                <div class="middle" (click)="editingImage = 'bannerImage'">
                  <svg width="28px" height="44px" viewBox="0 0 28 44" version="1.1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink">
                    <!-- Generator: Sketch 49 (51002) - http://www.bohemiancoding.com/sketch -->
                    <title>Group 10</title>
                    <desc>Created with Sketch.</desc>
                    <defs></defs>
                    <g id="Light-Dashboard-Designs" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <g id="Light-Dashboard-Profile" transform="translate(-707.000000, -803.000000)" fill="#FFFFFF">
                        <g id="Info-Card" transform="translate(503.000000, 733.000000)">
                          <g id="Group-9" transform="translate(171.000000, 48.000000)">
                            <g id="Profile-Image-Status-Copy">
                              <g id="Group-10" transform="translate(29.000000, 20.000000)">
                                <path d="M20.2661287,0.502019801 L20.2661287,0.502019801 C23.3210672,0.502019801 25.7975842,2.97853675 25.7975842,6.03347523 L25.7975842,35.2711682 L14.7346733,35.2711682 L14.7346733,6.03347523 C14.7346733,2.97853675 17.2111903,0.502019801 20.2661287,0.502019801 Z"
                                  id="Rectangle-3" transform="translate(20.266129, 17.886594) rotate(29.000000) translate(-20.266129, -17.886594) "></path>
                                <path d="M8.67086421,36.6073423 L13.276437,45.8184879 L2.27643702,45.8184879 L6.88200983,36.6073423 C7.12899908,36.1133638 7.72967212,35.9131395 8.22365062,36.1601287 C8.41717802,36.2568924 8.57410051,36.4138149 8.67086421,36.6073423 Z"
                                  id="Triangle" transform="translate(7.776437, 40.936412) rotate(209.000000) translate(-7.776437, -40.936412) "></path>
                              </g>
                            </g>
                          </g>
                        </g>
                      </g>
                    </g>
                  </svg>
                </div>
              </div>
              <div *ngIf="bannerImage === undefined || bannerImage === null || bannerImage === ''" class="has-text-centered profile-icon personal-info-image"
                (click)="editingImage = 'bannerImage'">
                <i class="user fa fa-user"></i>
                <div class="middle">
                  <svg width="28px" height="44px" viewBox="0 0 28 44" version="1.1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink">
                    <!-- Generator: Sketch 49 (51002) - http://www.bohemiancoding.com/sketch -->
                    <title>Group 10</title>
                    <desc>Created with Sketch.</desc>
                    <defs></defs>
                    <g id="Light-Dashboard-Designs" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <g id="Light-Dashboard-Profile" transform="translate(-707.000000, -803.000000)" fill="#FFFFFF">
                        <g id="Info-Card" transform="translate(503.000000, 733.000000)">
                          <g id="Group-9" transform="translate(171.000000, 48.000000)">
                            <g id="Profile-Image-Status-Copy">
                              <g id="Group-10" transform="translate(29.000000, 20.000000)">
                                <path d="M20.2661287,0.502019801 L20.2661287,0.502019801 C23.3210672,0.502019801 25.7975842,2.97853675 25.7975842,6.03347523 L25.7975842,35.2711682 L14.7346733,35.2711682 L14.7346733,6.03347523 C14.7346733,2.97853675 17.2111903,0.502019801 20.2661287,0.502019801 Z"
                                  id="Rectangle-3" transform="translate(20.266129, 17.886594) rotate(29.000000) translate(-20.266129, -17.886594) "></path>
                                <path d="M8.67086421,36.6073423 L13.276437,45.8184879 L2.27643702,45.8184879 L6.88200983,36.6073423 C7.12899908,36.1133638 7.72967212,35.9131395 8.22365062,36.1601287 C8.41717802,36.2568924 8.57410051,36.4138149 8.67086421,36.6073423 Z"
                                  id="Triangle" transform="translate(7.776437, 40.936412) rotate(209.000000) translate(-7.776437, -40.936412) "></path>
                              </g>
                            </g>
                          </g>
                        </g>
                      </g>
                    </g>
                  </svg>
                </div>
              </div>
              <br>
              <p class="has-text-centered" data-aos="fade-up" data-aos-duration="1200">
                <a class="edit-image" (click)="editingImage = 'bannerImage'">Edit Banner Image</a>
              </p>
            </div>

            <form id="study-info-form" (ngSubmit)="updateStudyInfo()">
              <div>
                <div class="field">
                  <label class="label" for="first-name">Study Name:</label>
                  <input [(ngModel)]="studyName" class="input" required type="text" id="first-name" name="first-name">
                </div>
              </div>
              <div class="field writing-container">
                <label class="label" for="short-description">Study Description:</label>
                <input [(ngModel)]="description" class="input" required type="text" id="short-description" name="short-description">
              </div>
              <div class="has-text-centered">
                <button type="submit" class="btn update-btn">Update</button>
              </div>
            </form>
          </div>
          <div *ngIf="settingsTab === 'roles'">
            <h1 class="settings-title">Member Roles</h1>
            <div class="roles">
              <ng-container *ngFor="let member of members">
                <div class="member">
                  <i *ngIf="(member['image'] === null || member['image'] === '')" style="font-size: 42px; margin-left: 13px; margin-right: 6px;"
                    class="user fa fa-user"></i>
                  <img *ngIf="member['image'] !== null && member['image'] !== ''" class="profile-image" [src]="member['image']">
                  <div class="member-name">
                    <span>{{member['name']}}</span>
                  </div>
                  <button class="btn create-btn promote-btn" (click)="verifyPromote(member['name'], member['uid'])"
                    *ngIf="member['role'] !== 'leader' && isLeader">Promote to Leader</button>
                  <a class="red-link" *ngIf="userID === member['uid'] && isLeader" (click)="activateDemoteModal = true">Step
                    Down as Leader</a>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
      <app-loading-spinner *ngIf="isLoading | async"></app-loading-spinner>
      <div class="expand-actions" (click)="expandActions()" [class.unexpanded]="actionsExpanded">
        <img src="/assets/images/feature-images/expand-actions.svg">
      </div>
      <div class="create-actions column is-three-fifths" [class.creation-expansion]="creationExpanded" [class.expanded]="actionsExpanded">
        <h1 class="create-label" *ngIf="creationExpanded">Let's Create...</h1>
        <span class="create-text" *ngIf="!creationExpanded">Add...</span>
        <div class="expand">
          <img style="position: relative; top: 3px" *ngIf="!creationExpanded" (click)="toggleCreation(true)" src="/assets/images/feature-images/expand.svg"
            alt="expand creation">
          <img *ngIf="creationExpanded" class="minimize-creation" (click)="toggleCreation(false)" src="/assets/images/feature-images/minimize-creation.svg"
            alt="minimize creation">
        </div>
        <h1 class="action-label" *ngIf="creationExpanded">Type</h1>
        <div class="actions" *ngIf="currentTab !== 'shared-bible' && currentTab !== 'shared-calendar'">
          <a class="create-cta first" [class.create-active]="createPost.type == 'announcement'" (click)="setPostType('announcement')">An
            Announcement</a>
          <a class="create-cta" [class.create-active]="createPost.type == 'post'" (click)="setPostType('post')">A
            Post</a>
          <a class="create-cta" [class.create-active]="createPost.type == 'question'" (click)="setPostType('question')">A
            Question</a>
          <a class="create-cta" [class.create-active]="createPost.type == 'discussion'" (click)="setPostType('discussion')">A
            Discussion</a>
        </div>
        <div class="actions" *ngIf="currentTab == 'shared-bible'">
          <a class="create-cta" [class.create-active]="createAnnotation.type == 'note'" (click)="setAnnotationType('note')">A
            Note</a>
          <a class="create-cta" [class.create-active]="createAnnotation.type == 'question'" (click)="setAnnotationType('question')">A
            Question</a>
          <a class="create-cta" [class.create-active]="createAnnotation.type == 'discussion'" (click)="setAnnotationType('discussion')">A
            Discussion</a>
        </div>
        <form #postCreator="ngForm" (ngSubmit)="publishPost()">
          <h1 class="action-label" *ngIf="creationExpanded">Information</h1>
          <div class="fields">
            <div class="field" *ngIf="creationExpanded">
              <label class="label" for="title" *ngIf="currentTab !== 'shared-bible' && currentTab !== 'shared-calendar'">Title:</label>
              <label class="label" for="title" *ngIf="currentTab === 'shared-bible'">Verses:</label>
              <input class="input" #title="ngModel" *ngIf="currentTab === 'shared-bible'" (blur)="reformatPassage(createAnnotation.passage)"
                [(ngModel)]="createAnnotation.passage" name="title" type="text" id="annotation-title" required>
              <input class="input" #title="ngModel" *ngIf="currentTab !== 'shared-bible' && currentTab !== 'shared-calendar'"
                [(ngModel)]="createPost.title" name="title" type="text" id="title" required>
            </div>
            <div class="field" *ngIf="creationExpanded">
              <label class="label" for="body">Body:</label>
              <textarea [(ngModel)]="createAnnotation.text" *ngIf="currentTab === 'shared-bible'" name="body" class="textarea input"
                id="annotation-body" cols="30" rows="2"></textarea>
              <textarea [(ngModel)]="createPost.text" name="body" *ngIf="currentTab !== 'shared-bible' && currentTab !== 'shared-calendar'"
                class="textarea input" id="body" cols="30" rows="2"></textarea>
            </div>
            <!-- <div class="show-files" *ngIf="creationExpanded">
              <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
              </label>
              <span class="checkbox-label">Add File(s)</span>
            </div> -->
            <div class="has-text-centered btn-container">
              <button type="submit" *ngIf="creationExpanded && !editing" class="btn create-btn" [disabled]="postCreator.invalid">Post</button>
              <button type="submit" *ngIf="creationExpanded && editing && !editingAnnotation" class="btn create-btn"
                [disabled]="postCreator.invalid">Update Post</button>
              <button type="submit" *ngIf="creationExpanded && editing && editingAnnotation" class="btn create-btn"
                [disabled]="postCreator.invalid">Update</button>
            </div>
          </div>
        </form>
        <img *ngIf="!creationExpanded" (click)="actionsExpanded = false; createPost.type = ''" class="minimize" src="/assets/images/feature-images/minimize.svg"
          alt="">
      </div>
    </div>
    <div class="right-nav column is-one-fifth">
      <div id="right">
        <ng-container *ngIf="currentTab !== 'shared-bible' && currentTab !== 'shared-calendar'">
          <h1 class="nav-header center">
            <span *ngIf="keyAnnouncements.length === 1">Key Announcement</span>
            <span *ngIf="keyAnnouncements.length > 1">Key Announcements</span>
          </h1>
          <br>
          <div class="no-announcements has-text-centered" *ngIf="keyAnnouncements.length === 0">
            <p>Seems like you have no announcements! Be the first to add one!</p>
            <br>
            <a class="more-link" (click)="expandActions(); setPostType('announcement')">Add First Announcement</a>
          </div>
          <div class="announcements">
            <div class="announcement-container" *ngFor="let announcement of keyAnnouncements; let i = index;">
              <div class="announcement">
                <div class="head">
                  <img class="profile-image" [src]="announcement['image']">
                  <span class="date-info time">{{announcement['dateInfo']['time']}}</span>
                  <span class="date-info date">{{announcement['dateInfo']['date']}}</span>
                </div>
                <div class="content">
                  <div class="title-container">
                    <h1 class="announcement-title">{{announcement['title']}}</h1>
                  </div>
                  <div class="announcement-text">
                    <p [innerHtml]="announcement['htmlText']"></p>
                  </div>
                </div>
              </div>
              <img *ngIf="(i + 1) != keyAnnouncements.length" class="connector" src="/assets/images/feature-images/announcement-connector.svg">
            </div>
          </div>
          <div class="bottom has-text-centered">
            <a class="more-link" (click)="switchTab('announcements')" *ngIf="keyAnnouncements.length > 0">See More</a>
          </div>
          <hr>
          <div class="nav-header center">
            <span *ngIf="members.length === 1">Member</span>
            <span *ngIf="members.length > 1">Members</span>
          </div>
          <div class="members">
            <ng-container *ngFor="let member of members; let i = index">

              <div class="member">
                <i *ngIf="(member['image'] === null || member['image'] === '') && i < numberOfMembers" style="font-size: 42px; margin-left: 5px; margin-right: 6px;"
                  class="user fa fa-user"></i>
                <img *ngIf="member['image'] !== null && member['image'] !== '' && i < numberOfMembers" class="profile-image"
                  [src]="member['image']">
                <div class="member-name" *ngIf="i < numberOfMembers ">
                  <span>{{member['name']}}</span>
                </div>
              </div>
              <span class="member-role" *ngIf="i < numberOfMembers">{{capitalize(member['role'])}} </span>
              <br>
              <a class="promote more-link" (click)="verifyPromote(member['name'], member['uid'])" *ngIf="i < numberOfMembers && member['role'] !== 'leader' && isLeader">(Promote
                to Leader?)</a>
            </ng-container>
          </div>
          <div class="bottom has-text-centered">
            <a class="more-link" *ngIf="members.length > numberOfMembers">See More</a>
          </div>
        </ng-container>
        <ng-container *ngIf="currentTab === 'shared-bible'">
          <h1 class="nav-header center">Chapter Annotations
            <!-- <span *ngIf="keyAnnouncements.length > 1">s</span> -->
          </h1>
          <br>
          <div class="is-centered" id="preferences" *ngIf="numOfAnnotations > 0">
            <ul id="annotation-controls">
              <li id="sort-label">
                <label for="sort">Sort By:</label>
              </li>
              <li id="select">
                <span class="custom-dropdown">
                  <select class="sort-select" id="sort" [(ngModel)]="sortAnnotation" (ngModelChange)="getAnnotationsForChapter()">
                    <option [ngValue]="'timestamp'">Most Recent</option>
                    <option [ngValue]="'verse_search'">Verse Number</option>
                  </select>
                </span>
              </li>
            </ul>
          </div>
          <br>
          <div class="no-annotations has-text-centered" *ngIf="numOfAnnotations === 0">
            <p>Seems like this chapter has no annotations! Be the first to add one!</p>
            <br>
            <button class="btn study-btn" (click)="expandActions(); setPostType('announcement')">Add Annotation</button>
          </div>
          <div *ngFor="let annotation of chapterAnnotations | async; let i = index;" class="annotations">
            <app-post-card *ngIf="showAnnotation(annotation['passage'])" [studyID]="groupID" [isLeader]="isLeader"
              [isLast]="false" [isAnnotation]="true" [id]="annotation['id']" [contributors]="[annotation['creatorID']]"
              [userID]="userID" [isCreator]="userID === annotation['creatorID']" (delete)="deleteAnnotation($event, annotation['id'], annotation['creatorID'], isLeader)"
              (edit)="editAnnotation($event, annotation['id'], annotation['creatorID'], isLeader)" [chapterRef]="chapterRef"
              (reply)="replyToAnnotation($event, annotation['id'])">
              <p class="card-header-title annotation-title">{{annotation['passage']}}</p>
              <div class="metadata annotation-metadata">
                <div class="type annotation-type">
                  <p>{{capitalize(annotation['type'])}}</p>
                </div>
                <div class="date annotation-date">
                  <p>{{annotation['dateInfo']['time']}}</p>
                  <p>{{annotation['dateInfo']['date']}}</p>
                </div>
              </div>
              <!-- <div class="card-body" [innerHtml]="annotation['htmlText'] | safeHtml" (mouseenter)="getVerse($event)" [id]="'post-text-' + i">
                {{annotation['text']}}
              </div> TODO: add route for htmlText -->
              <div class="card-body annotation-body" [id]="'annotation-text-' + i">{{annotation['text']}}</div>
            </app-post-card>
          </div>
        </ng-container>
      </div>
    </div>

  </div>
</div>

<div class="modal" [class.is-active]="activatePromotionModal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Verify Promotion</p>
      <button class="delete" aria-label="close" (click)="activatePromotionModal = false"></button>
    </header>
    <section class="modal-card-body">
      <p>Are you sure you want to promote {{currentPromote['name']}} to leader?</p>
    </section>
    <footer class="modal-card-foot">
      <div>
        <button class="btn study-btn modal-btn" (click)="promoteToLeader(); activatePromotionModal = false;">Promote</button>
        <a (click)="activatePromotionModal = false" class="btn-link">Cancel</a>
      </div>
    </footer>
  </div>
</div>
<div class="modal" [class.is-active]="activateDemoteModal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Verify Demotion</p>
      <button class="delete" aria-label="close" (click)="activateDemoteModal = false"></button>
    </header>
    <section class="modal-card-body">
      <p>Are you sure you want to demote yourself? You will lose all your leader privileges</p>
    </section>
    <footer class="modal-card-foot">
      <div>
        <button class="btn study-btn modal-btn" (click)="demoteSelf(); activateDemoteModal = false;">Demote</button>
        <a (click)="activateDemoteModal = false" class="btn-link">Cancel</a>
      </div>
    </footer>
  </div>
</div>

<div class="modal" [class.is-active]="editingImage !== ''">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Upload New Profile Image</p>
      <button class="delete" aria-label="close" (click)="editingImage = '' && newImageUrl = ''"></button>
    </header>
    <section class="modal-card-body">
      <app-file-upload (url)="getDownloadUrl($event, editingImage === 'studyImage')" [height]="'300px'"></app-file-upload>
    </section>
    <footer class="modal-card-foot">
      <div>
        <button class="btn study-btn modal-btn" (click)="updateImage(editingImage === 'studyImage'); editingImage = '';">Save
          Changes</button>
        <a (click)="editingImage = '' && newImageUrl = ''" class="btn-link">Cancel</a>
      </div>
    </footer>
  </div>
</div>

<div class="modal" [class.is-active]="activateNewTopicModal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Create New Topic</p>
      <button class="delete" aria-label="close" (click)="activateNewTopicModal = false"></button>
    </header>
    <section class="modal-card-body">
      <form id="create-topic-form">
        <div>
          <div class="field">
            <label class="modal-label" for="first-name">Title:</label>
            <input [(ngModel)]="currentTopic.title" class="modal-input input" required type="text" id="first-name" name="topic-title">
          </div>
        </div>
        <div class="field writing-container">
          <label class="modal-label" for="short-description">Description:</label>
          <input [(ngModel)]="currentTopic.description" class="modal-input input" required type="text" id="short-topic-description"
            name="short-topic-description">
        </div>
      </form>
    </section>
    <footer class="modal-card-foot">
      <div>
        <button class="btn study-btn modal-btn" (click)="createTopic(currentTopic); activateNewTopicModal = false;">Create
          Topic</button>
        <a (click)="activateNewTopicModal = false" class="btn-link">Cancel</a>
      </div>
    </footer>
  </div>
</div>

<div class="modal" [class.is-active]="activateQuestionReplyModal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Create New Response</p>
      <button class="delete" aria-label="close" (click)="activateQuestionReplyModal = false"></button>
    </header>
    <section class="modal-card-body">
      <form id="create-discussion-form">
        <div class="field writing-container">
          <label class="modal-label" for="short-description">Response:</label>
          <input [(ngModel)]="currentResponse.text" class="modal-input input" required type="text" id="discussion-text"
            name="discussion-text">
        </div>
      </form>
    </section>
    <footer class="modal-card-foot">
      <div>
        <button class="btn study-btn modal-btn" style="width: 200px;" (click)="createResponse(currentResponse); activateQuestionReplyModal = false;">Create
          Response
        </button>
        <a (click)="activateQuestionReplyModal = false" class="btn-link">Cancel</a>
      </div>
    </footer>
  </div>
</div>
<div class="modal" [class.is-active]="activateNewDiscussionModal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Create New Discussion</p>
      <button class="delete" aria-label="close" (click)="activateNewDiscussionModal = false"></button>
    </header>
    <section class="modal-card-body">
      <form id="create-discussion-form">
        <div>
          <div class="field">
            <label class="modal-label" for="first-name">Discussion Title:</label>
            <input [(ngModel)]="currentDiscussion.title" class="modal-input input" required type="text" id="discussion-title"
              name="discussion-title">
          </div>
        </div>
        <div class="field writing-container">
          <label class="modal-label" for="short-description">Discussion:</label>
          <input [(ngModel)]="currentDiscussion.text" class="modal-input input" required type="text" id="discussion-text"
            name="discussion-text">
        </div>
      </form>
    </section>
    <footer class="modal-card-foot">
      <div>
        <button class="btn study-btn modal-btn" style="width: 200px;" (click)="createDiscussion(currentDiscussion); activateNewDiscussionModal = false;">Create
          Discussion
        </button>
        <a (click)="activateNewDiscussionModal = false" class="btn-link">Cancel</a>
      </div>
    </footer>
  </div>
</div>