<app-study-nav [title]="title"></app-study-nav>

<div class="main-content">
  <div class="columns">
    <div class="left-nav column is-3">
      <div id="user"></div>
      <div id="main"></div>
      <div id="shared"></div>
      <div id="inquiry"></div>
      <div id="personal"></div>
    </div>
    <div class="main-info column is-6 is-centered">
      <app-post-card>
        <p class="card-header-title">Interesting Article on Acts</p>
        <div class="metadata">
          <div class="type">
            <p>Post</p>
          </div>
          <div class="date">
            <p>12:22PM</p>
            <p>2/2/18</p>
          </div>
        </div>
        <div class="card-body">
          Here’s an interesting article on the topic of Acts, who Luke wrote it to (Theophilus) and more! Hope you guys enjoy!
        </div>
        <div class="links">
          <a>https://article.on/acts</a>
        </div>
      </app-post-card>
    </div>
    <div class="right-nav column is-3">hello</div>
  </div>
</div>