<app-study-nav [title]="title"></app-study-nav>

<div class="main-content">
  <div class="columns">
    <div class="left-nav column is-one-fifth">
      <div class="nav-section" id="main">
        <h1 class="nav-header">Main</h1>
        <ul class="nav-links">
          <li [class.active]="currentTab === 'feed'" (click)="switchTab('feed')">
            <a (click)="switchTab('feed')">Main Feed</a>
          </li>
          <li [class.active]="currentTab === 'announcements'" (click)="switchTab('announcements')">
            <a (click)="switchTab('announcements')">Announcements</a>
          </li>
        </ul>
      </div>
      <hr>
      <div class="nav-section" id="shared">
        <h1 class="nav-header">Shared</h1>
        <ul class="nav-links">
          <li [class.active]="currentTab === 'shared-bible'" (click)="switchTab('shared-bible')">
            <a (click)="switchTab('shared-bible')">Shared Bible</a>
          </li>
          <li [class.active]="currentTab === 'shared-calendar'" (click)="switchTab('shared-calendar')">
            <a (click)="switchTab('shared-calendar')">Shared Calendar</a>
          </li>
        </ul>
      </div>
      <hr>
      <div class="nav-section" id="inquiry">
        <h1 class="nav-header">Inquiry</h1>
        <ul class="nav-links">
          <li [class.active]="currentTab === 'discussions'" (click)="switchTab('discussions')">
            <a (click)="switchTab('discussions')">Discussions</a>
          </li>
          <li [class.active]="currentTab === 'questions'" (click)="switchTab('questions')">
            <a (click)="switchTab('questions')">Questions</a>
          </li>
        </ul>
      </div>
      <hr>
      <div class="nav-section" id="personal">
        <h1 class="nav-header">Personal</h1>
        <ul class="nav-links">
          <li (click)="navigateTo('/dashboard/home')">
            <a>My Dashboard</a>
          </li>
          <li>
            <a>Settings</a>
          </li>
          <li (click)="logout()">
            <a>Logout</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-info column is-three-fifths is-centered">
      <div class="posts">
        <app-post-card *ngFor="let post of posts | async" [contributors]="post['contributors']">
          <p class="card-header-title">{{post['title']}}</p>
          <div class="metadata">
            <div class="type">
              <p>{{capitalize(post['type'])}}</p>
            </div>
            <div class="date">
              <p>{{post['dateInfo']['time']}}</p>
              <p>{{post['dateInfo']['date']}}</p>
            </div>
          </div>
          <div class="card-body">
            {{post['text']}}
          </div>
          <div class="links" *ngIf="!checkIfExists(post['links'])">
            <h1>Links:</h1>
            <a>https://article.on/acts</a>
          </div>
        </app-post-card>
      </div>
      <div class="expand-actions" (click)="expandActions()" [class.unexpanded]="actionsExpanded">
        <img src="/assets/images/feature-images/expand-actions.svg">
      </div>
      <div class="create-actions column is-three-fifths" [class.creation-expansion]="creationExpanded" [class.expanded]="actionsExpanded">
        <h1 class="create-label" *ngIf="creationExpanded">Let's Create...</h1>
        <span class="create-text" *ngIf="!creationExpanded">Add...</span>
        <div class="expand">
          <img style="position: relative; top: 3px" *ngIf="!creationExpanded" (click)="toggleCreation(true)" src="/assets/images/feature-images/expand.svg"
            alt="expand creation">
          <img *ngIf="creationExpanded" class="minimize-creation" (click)="toggleCreation(false)" src="/assets/images/feature-images/minimize-creation.svg"
            alt="minimize creation">
        </div>
        <h1 class="action-label" *ngIf="creationExpanded">Type</h1>
        <div class="actions">
          <a class="create-cta first" [class.create-active]="createPost.type == 'announcement'" (click)="setPostType('announcement')">An Announcement</a>
          <a class="create-cta" [class.create-active]="createPost.type == 'post'" (click)="setPostType('post')">A Post</a>
          <a class="create-cta" [class.create-active]="createPost.type == 'question'" (click)="setPostType('question')">A Question</a>
          <a class="create-cta" [class.create-active]="createPost.type == 'discussion'" (click)="setPostType('discussion')">A Discussion</a>
        </div>
        <form #postCreator="ngForm" (ngSubmit)="publishPost()">
          <h1 class="action-label" *ngIf="creationExpanded">Information</h1>
          <div class="fields">
            <div class="field" *ngIf="creationExpanded">
              <label class="label" for="title">Title:</label>
              <input class="input" #title="ngModel" [(ngModel)]="createPost.title" name="title" type="text" id="title" required>
            </div>
            <div class="field" *ngIf="creationExpanded">
              <label class="label" for="body">Body:</label>
              <textarea [(ngModel)]="createPost.text" name="body" class="textarea input" id="body" cols="30" rows="2"></textarea>
            </div>
            <!-- <div class="show-files" *ngIf="creationExpanded">
              <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
              </label>
              <span class="checkbox-label">Add File(s)</span>
            </div> -->
            <div class="has-text-centered btn-container">
              <button type="submit" *ngIf="creationExpanded" class="btn create-btn" [disabled]="postCreator.invalid">Post</button>
            </div>
          </div>
        </form>
        <img *ngIf="!creationExpanded" (click)="actionsExpanded = false" class="minimize" src="/assets/images/feature-images/minimize.svg"
          alt="">
      </div>
    </div>
    <div class="right-nav column is-one-fifth">
      <div id="right">
        <h1 class="nav-header center">Key Announcements</h1>
        <div class="announcements">
          <div class="announcement">
            <div class="head">
              <img class="profile-image" src="/assets/images/background-images/sign-in-bg.jpg">
              <span class="date-info time">12:22PM</span>
              <span class="date-info date">2/2/18</span>
            </div>
            <div class="content">
              <div class="title-container">
                <h1 class="announcement-title">Acts Bible Study</h1>
              </div>
              <div class="announcement-text">
                <p>We will be beginning our bible studies next week on the book of Acts.</p>
              </div>
            </div>
          </div>
          <img class="connector" src="/assets/images/feature-images/announcement-connector.svg">
          <div class="announcement">
            <div class="head">
              <img class="profile-image" src="/assets/images/background-images/sign-up-bg.jpg">
              <span class="date-info time">8:00AM</span>
              <span class="date-info date">1/28/18</span>
            </div>
            <div class="content">
              <div class="title-container">
                <h1 class="announcement-title">Helping Out at Church</h1>
              </div>
              <div class="announcement-text">
                <p>We will be helping out our church this weekend at 5:00pm.</p>
              </div>
            </div>
          </div>
          <img class="connector" src="/assets/images/feature-images/announcement-connector.svg">
          <div class="announcement">
            <div class="head">
              <img class="profile-image" src="/assets/images/background-images/home_bg.jpg">
              <span class="date-info time">7:30AM</span>
              <span class="date-info date">12/29/18</span>
            </div>
            <div class="content">
              <div class="title-container">
                <h1 class="announcement-title">Nursery Help</h1>
              </div>
              <div class="announcement-text">
                <p>We will be helping out with the nursery at church at 10:00am.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="bottom has-text-centered">
          <a class="more-link">See More</a>
        </div>
        <hr>
        <div class="nav-header center">Members</div>
        <div class="members">
          <div class="member">
            <img class="profile-image" src="/assets/images/background-images/sign-in-bg.jpg">
            <span class="member-name">Howard Shi</span>
          </div>
          <div class="member">
            <img class="profile-image" src="/assets/images/background-images/sign-up-bg.jpg">
            <span class="member-name">Jordan Seiler</span>
          </div>
          <div class="member">
            <img class="profile-image" src="/assets/images/background-images/home_bg.jpg">
            <span class="member-name">Brandon Fan</span>
          </div>
        </div>
        <div class="bottom has-text-centered">
          <a class="more-link">See More</a>
        </div>
      </div>
    </div>

  </div>
</div>