<app-study-nav [title]="title" [groupID]="groupUniqueID"></app-study-nav>

<div class="main-content">
  <div class="columns">
    <div class="left-nav column is-one-fifth">
      <div class="nav-section" id="main">
        <h1 class="nav-header">Main</h1>
        <ul class="nav-links">
          <li [class.active]="currentTab === 'feed'" (click)="switchTab('feed')">
            <a (click)="switchTab('feed')">Main Feed</a>
          </li>
          <li [class.active]="currentTab === 'announcements'" (click)="switchTab('announcements')">
            <a (click)="switchTab('announcements')">Announcements</a>
          </li>
        </ul>
      </div>
      <hr>
      <div class="nav-section" id="shared">
        <h1 class="nav-header">Shared</h1>
        <ul class="nav-links">
          <li [class.active]="currentTab === 'shared-bible'" (click)="switchTab('shared-bible')">
            <a (click)="switchTab('shared-bible')">Shared Bible</a>
          </li>
          <li [class.active]="currentTab === 'shared-calendar'" (click)="switchTab('shared-calendar')">
            <a (click)="switchTab('shared-calendar')">Shared Calendar</a>
          </li>
        </ul>
      </div>
      <hr>
      <div class="nav-section" id="inquiry">
        <h1 class="nav-header">Inquiry</h1>
        <ul class="nav-links">
          <li [class.active]="currentTab === 'discussions'" (click)="switchTab('discussions')">
            <a (click)="switchTab('discussions')">Discussions</a>
          </li>
          <li [class.active]="currentTab === 'questions'" (click)="switchTab('questions')">
            <a (click)="switchTab('questions')">Questions</a>
          </li>
        </ul>
      </div>
      <hr>
      <div class="nav-section" id="personal">
        <h1 class="nav-header">Personal</h1>
        <ul class="nav-links">
          <li (click)="navigateTo('/dashboard/home')">
            <a>My Dashboard</a>
          </li>
          <li>
            <a>Settings</a>
          </li>
          <li (click)="logout()">
            <a>Logout</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-info column is-three-fifths is-centered">
      <div class="posts" *ngIf="currentTab !== 'shared-bible' && currentTab !== 'shared-calendar'">
        <app-post-card *ngFor="let post of posts | async; let i = index;" [studyID]="groupID" [isLeader]="isLeader" [isLast]="(i + 1) === postLength"
          [id]="post['id']" [userID]="userID" [isCreator]="userID === post['creatorID']" [contributors]="post['contributors']"
          (delete)="deletePost($event, post['id'], post['creatorID'], isLeader)" (edit)="editPost($event, post['id'], post['creatorID'], isLeader)"
          (reply)="replyToPost($event, post['id'])" (more)="getMorePosts(post['timestamp'])">
          <p class="card-header-title">{{post['title']}}</p>
          <div class="metadata">
            <div class="type">
              <p>{{capitalize(post['type'])}}</p>
            </div>
            <div class="date">
              <p>{{post['dateInfo']['time']}}</p>
              <p>{{post['dateInfo']['date']}}</p>
            </div>
          </div>
          <div class="card-body" [innerHtml]="post['htmlText'] | safeHtml" (mouseenter)="getVerse($event)" [id]="'post-text-' + i">

          </div>
          <div class="links" *ngIf="!checkIfExists(post['links'])">
            <h1>Links:</h1>
            <div class="link-container" *ngFor="let link of post['links']" [innerHtml]="link | safeHtml"></div>
          </div>
          <div class="verses" *ngIf="!checkIfExists(post['verses'])" (mouseenter)="getVerseLinks($event)" [id]="'verses-links-' + i">
            <h1>Verses:</h1>
            <div class="verse-container" *ngFor="let verse of post['verses']" [innerHtml]="verse | safeHtml"></div>
          </div>
        </app-post-card>
        <div class="has-text-centered" *ngIf="!(isLoading | async) && (postLength === 0 && (currentTab !== 'shared-bible' && currentTab !== 'shared-calendar'))">
          <h1 class="title is-4">Be the first to add a{{currentTab === 'announcements' ? 'n announcement' : (currentTab === 'feed' ? ' post' : '
            ' + currentTab.slice(0, -1))}}!
          </h1>
          <button class="btn study-btn" (click)="expandActions(); setPostType((currentTab === 'feed' ? 'post' : currentTab.slice(0, -1)));">Add One</button>
        </div>
      </div>
      <div class="shared-bible" *ngIf="currentTab === 'shared-bible'">
        <div class="container" id="preferences">
          <ul id="controls">
            <li class="sort-label">
              <label for="sort">Book:</label>
            </li>
            <li class="shared-select">
              <span class="custom-dropdown">
                <select class="sort-select" id="book" [(ngModel)]="activeBook" (ngModelChange)="getChapter(activeBook, activeChapter);">
                  <option [ngValue]="book" *ngFor="let book of books">{{book}}</option>
                </select>
              </span>
            </li>
            <li class="sort-label" id="chapter-label">
              <label for="sort">Chapter:</label>
            </li>
            <li class="shared-select">
              <span class="custom-dropdown">
                <select class="sort-select" id="chapter" [(ngModel)]="activeChapter" (ngModelChange)="getChapter(activeBook, activeChapter)">
                  <option [ngValue]="number" *ngFor="let number of bibleData['chapters']">{{number}}</option>
                </select>
              </span>
            </li>
          </ul>
        </div>
        <div class="bible-header">
          <h1 class="reference">{{activeBook}} {{activeChapter}}</h1>
          <div class="bible-actions">
            <a class="more-link bible-navigation bible-navigation-left" (click)="previousChapter()" [class.disabled]="activeChapter === 1">
              < Previous Chapter</a>
                <a class="more-link bible-navigation bible-navigation-right" (click)="nextChapter()" [class.disabled]="activeChapter === numChapters">Next Chapter ></a>
          </div>
        </div>
        <div class="bible-text">
          <span class="shared-bible-verse" *ngFor="let verse of bibleData['verse_data']; let i = index;" [class.is-underlined]="underlinedVerses[i]"
            (click)="underlinedVerses[i] = underlinedVerses[i] === true ? false: true; expandActions(); prepareAnnotation();">
            <span class="verse-number">{{verse['verse_number']}}</span>
            {{verse['text']}}
          </span>
        </div>
        <div class="bible-actions">
          <a class="more-link bible-navigation bible-navigation-left" (click)="previousChapter()" [class.disabled]="activeChapter === 1">
            < Previous Chapter</a>
              <a class="more-link bible-navigation bible-navigation-right" (click)="nextChapter()" [class.disabled]="activeChapter === numChapters">Next Chapter ></a>
        </div>
      </div>
      <app-loading-spinner *ngIf="isLoading | async"></app-loading-spinner>
      <div class="expand-actions" (click)="expandActions()" [class.unexpanded]="actionsExpanded">
        <img src="/assets/images/feature-images/expand-actions.svg">
      </div>
      <div class="create-actions column is-three-fifths" [class.creation-expansion]="creationExpanded" [class.expanded]="actionsExpanded">
        <h1 class="create-label" *ngIf="creationExpanded">Let's Create...</h1>
        <span class="create-text" *ngIf="!creationExpanded">Add...</span>
        <div class="expand">
          <img style="position: relative; top: 3px" *ngIf="!creationExpanded" (click)="toggleCreation(true)" src="/assets/images/feature-images/expand.svg"
            alt="expand creation">
          <img *ngIf="creationExpanded" class="minimize-creation" (click)="toggleCreation(false)" src="/assets/images/feature-images/minimize-creation.svg"
            alt="minimize creation">
        </div>
        <h1 class="action-label" *ngIf="creationExpanded">Type</h1>
        <div class="actions" *ngIf="currentTab !== 'shared-bible' && currentTab !== 'shared-calendar'">
          <a class="create-cta first" [class.create-active]="createPost.type == 'announcement'" (click)="setPostType('announcement')">An Announcement</a>
          <a class="create-cta" [class.create-active]="createPost.type == 'post'" (click)="setPostType('post')">A Post</a>
          <a class="create-cta" [class.create-active]="createPost.type == 'question'" (click)="setPostType('question')">A Question</a>
          <a class="create-cta" [class.create-active]="createPost.type == 'discussion'" (click)="setPostType('discussion')">A Discussion</a>
        </div>
        <div class="actions" *ngIf="currentTab == 'shared-bible'">
          <a class="create-cta" [class.create-active]="createAnnotation.type == 'note'" (click)="setAnnotationType('note')">A Note</a>
          <a class="create-cta" [class.create-active]="createAnnotation.type == 'question'" (click)="setAnnotationType('question')">A Question</a>
          <a class="create-cta" [class.create-active]="createAnnotation.type == 'discussion'" (click)="setAnnotationType('discussion')">A Discussion</a>
        </div>
        <form #postCreator="ngForm" (ngSubmit)="publishPost()">
          <h1 class="action-label" *ngIf="creationExpanded">Information</h1>
          <div class="fields">
            <div class="field" *ngIf="creationExpanded">
              <label class="label" for="title" *ngIf="currentTab !== 'shared-bible' && currentTab !== 'shared-calendar'">Title:</label>
              <label class="label" for="title" *ngIf="currentTab === 'shared-bible'">Verses:</label>
              <input class="input" #title="ngModel" *ngIf="currentTab === 'shared-bible'" (blur)="reformatPassage(createAnnotation.passage)"
                [(ngModel)]="createAnnotation.passage" name="title" type="text" id="annotation-title" required>
              <input class="input" #title="ngModel" *ngIf="currentTab !== 'shared-bible' && currentTab !== 'shared-calendar'" [(ngModel)]="createPost.title"
                name="title" type="text" id="title" required>
            </div>
            <div class="field" *ngIf="creationExpanded">
              <label class="label" for="body">Body:</label>
              <textarea [(ngModel)]="createAnnotation.text" *ngIf="currentTab === 'shared-bible'" name="body" class="textarea input" id="annotation-body"
                cols="30" rows="2"></textarea>
              <textarea [(ngModel)]="createPost.text" name="body" *ngIf="currentTab !== 'shared-bible' && currentTab !== 'shared-calendar'"
                class="textarea input" id="body" cols="30" rows="2"></textarea>
            </div>
            <!-- <div class="show-files" *ngIf="creationExpanded">
              <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
              </label>
              <span class="checkbox-label">Add File(s)</span>
            </div> -->
            <div class="has-text-centered btn-container">
              <button type="submit" *ngIf="creationExpanded && !editing" class="btn create-btn" [disabled]="postCreator.invalid">Post</button>
              <button type="submit" *ngIf="creationExpanded && editing && !editingAnnotation" class="btn create-btn" [disabled]="postCreator.invalid">Update Post</button>
              <button type="submit" *ngIf="creationExpanded && editing && editingAnnotation" class="btn create-btn" [disabled]="postCreator.invalid">Update</button>
            </div>
          </div>
        </form>
        <img *ngIf="!creationExpanded" (click)="actionsExpanded = false; createPost.type = ''" class="minimize" src="/assets/images/feature-images/minimize.svg"
          alt="">
      </div>
    </div>
    <div class="right-nav column is-one-fifth">
      <div id="right">
        <ng-container *ngIf="currentTab !== 'shared-bible' && currentTab !== 'shared-calendar'">
          <h1 class="nav-header center">
            <span *ngIf="keyAnnouncements.length === 1">Key Announcement</span>
            <span *ngIf="keyAnnouncements.length > 1">Key Announcements</span>
          </h1>
          <br>
          <div class="no-announcements has-text-centered" *ngIf="keyAnnouncements.length === 0">
            <p>Seems like you have no announcements! Be the first to add one!</p>
            <br>
            <a class="more-link" (click)="expandActions(); setPostType('announcement')">Add First Announcement</a>
          </div>
          <div class="announcements">
            <div class="announcement-container" *ngFor="let announcement of keyAnnouncements; let i = index;">
              <div class="announcement">
                <div class="head">
                  <img class="profile-image" [src]="announcement['image']">
                  <span class="date-info time">{{announcement['dateInfo']['time']}}</span>
                  <span class="date-info date">{{announcement['dateInfo']['date']}}</span>
                </div>
                <div class="content">
                  <div class="title-container">
                    <h1 class="announcement-title">{{announcement['title']}}</h1>
                  </div>
                  <div class="announcement-text">
                    <p [innerHtml]="announcement['htmlText']"></p>
                  </div>
                </div>
              </div>
              <img *ngIf="(i + 1) != keyAnnouncements.length" class="connector" src="/assets/images/feature-images/announcement-connector.svg">
            </div>
          </div>
          <div class="bottom has-text-centered">
            <a class="more-link" (click)="switchTab('announcements')" *ngIf="keyAnnouncements.length > 0">See More</a>
          </div>
          <hr>
          <div class="nav-header center">
            <span *ngIf="members.length === 1">Member</span>
            <span *ngIf="members.length > 1">Members</span>
          </div>
          <div class="members">
            <div class="member" *ngFor="let member of members; let i = index">
              <i *ngIf="(member['image'] === null || member['image'] === '') && i < numberOfMembers" class="user fa fa-user"></i>
              <img *ngIf="member['image'] !== null && member['image'] !== '' && i < numberOfMembers" class="profile-image" [src]="member['image']">
              <span class="member-name" *ngIf="i < numberOfMembers">{{member['name']}}</span>
            </div>
          </div>
          <div class="bottom has-text-centered">
            <a class="more-link" *ngIf="members.length > numberOfMembers">See More</a>
          </div>
        </ng-container>
        <ng-container *ngIf="currentTab === 'shared-bible'">
          <h1 class="nav-header center">Chapter Annotations
            <!-- <span *ngIf="keyAnnouncements.length > 1">s</span> -->
          </h1>
          <br>
          <div class="no-annotations has-text-centered" *ngIf="numOfAnnotations === 0">
            <p>Seems like this chapter has no annotations! Be the first to add one!</p>
            <br>
            <button class="btn study-btn" (click)="expandActions(); setPostType('announcement')">Add Annotation</button>
          </div>
          <div class="annotations">
            <app-post-card *ngFor="let annotation of chapterAnnotations | async; let i = index;" [studyID]="groupID" [isLeader]="isLeader"
              [isLast]="false" [isAnnotation]="true" [id]="annotation['id']" [contributors]="[annotation['creatorID']]" [userID]="userID"
              [isCreator]="userID === annotation['creatorID']" (delete)="deleteAnnotation($event, annotation['id'], annotation['creatorID'], isLeader)"
              (edit)="editAnnotation($event, annotation['id'], annotation['creatorID'], isLeader)" [chapterRef]="chapterRef"
              (reply)="replyToAnnotation($event, annotation['id'])">
              <p class="card-header-title annotation-title">{{annotation['passage']}}</p>
              <div class="metadata annotation-metadata">
                <div class="type annotation-type">
                  <p>{{capitalize(annotation['type'])}}</p>
                </div>
                <div class="date annotation-date">
                  <p>{{annotation['dateInfo']['time']}}</p>
                  <p>{{annotation['dateInfo']['date']}}</p>
                </div>
              </div>
              <!-- <div class="card-body" [innerHtml]="annotation['htmlText'] | safeHtml" (mouseenter)="getVerse($event)" [id]="'post-text-' + i">
                {{annotation['text']}}
              </div> TODO: add route for htmlText -->
              <div class="card-body annotation-body" [id]="'annotation-text-' + i">
                {{annotation['text']}}
              </div>
            </app-post-card>
          </div>
        </ng-container>
      </div>
    </div>

  </div>
</div>