#main {
    margin-bottom: 200px;
}

.profile-image i {
    height: 154px;
    width: 154px;
    border-radius: 100%;
    border: 8px solid white;
    background: white;
    margin-top: -100px;
}

.profile-image img {
    height: 154px;
    width: 154px;
    border-radius: 100%;
    border: 8px solid white;
    background: white;
}

.profile-image i {
    font-size: 5.0rem;
}

.text {
    background-color: white;
    width: 100%;
}

.head {
    background: url('/assets/images/background-images/sign-up-webp.webp') no-repeat center center fixed, url('/assets/images/background-images/sign-up-bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    padding-top: 250px;
}

.content {
    margin-top: 29px;
}

.tabs {
    width: 75%;
    margin: 0 auto;
}

.tabs ul {
    margin-left: 0;
}

.tabs a {
    margin-right: 1em
}

li.is-active-tab a {
    color: #255250;
    border-bottom: #255250 5px solid;
    margin-bottom: -5px;
    font-weight: 900;
}

.input {
    border: none;
    border-bottom: 1px solid #979797;
    box-shadow: none;
    border-radius: 0;
    font-family: 'museo-sans', sans-serif;
    letter-spacing: 1px;
}

.input:focus {
    border-bottom: 2px solid #979797;
}

.name-input .columns {
    margin: 0 auto;
    width: 50%;
}

.label {
    margin-bottom: 0;
}

.btn {
    font-family: 'museo-sans', sans-serif;
    font-weight: 900;
    letter-spacing: 2px;
    line-height: 25px;
    text-align: center;
    font-size: 16px;
    height: 45px;
    width: 200px;
}

.btn.modal-btn {
    width: 150px;
    margin-right: 20px;
    margin-left: 20px;
}

.btn-link {
    color: #06292A;
}

.btn-link:hover {
    text-decoration: underline;
}

.modal-card-title {
    margin: 20px;
}

.title {
    margin-top: 20px;
}

.margin-top {
    margin-top: 300px;
}

.update-btn {
    margin-top: 39px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: #f23b2c;
    background-color: #f23b2c;
    box-shadow: 0 8px 18px 0 rgba(90, 89, 89, 0.5);
    color: #ffffff;
    font-family: 'museo-sans', sans-serif;
    font-weight: 900;
    letter-spacing: 1px;
    line-height: 19px;
    text-align: center;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.update-btn:hover {
    cursor: pointer;
    background-color: #d13527;
    box-shadow: none;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.update-btn[disabled] {
    box-shadow: none;
    background-color: #cb5032;
    cursor: not-allowed !important;
}

.study-btn {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: #06292A;
    background-color: #06292A;
    box-shadow: 0 8px 18px 0 rgba(90, 89, 89, 0.5);
    color: #ffffff;
    font-family: 'museo-sans', sans-serif;
    font-weight: 900;
    letter-spacing: 1px;
    line-height: 19px;
    text-align: center;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.study-btn:hover {
    cursor: pointer;
    background-color: rgb(3, 33, 34);
    box-shadow: none;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.study-btn[disabled] {
    box-shadow: none;
    background-color: #cb5032;
    cursor: not-allowed !important;
}

.splitter {
    margin: 150px auto;
    font-weight: 900;
}

.no-study {
    font-size: 1.3rem;
    font-weight: 900;
    letter-spacing: 2px;
}

#studies {
    margin-top: 2px;
}

.is-active-tab #studies {
    border-bottom: 5px solid #255250;
}

.content-header,
.content-subheader {
    margin-top: 61px;
    font-weight: 900;
    letter-spacing: 5px;
    margin-bottom: 30px;
}

.user {
    font-size: 5em;
}

.profile-form {
    width: 75%;
    margin: 0 auto;
}

.create-container {
    margin: 20px auto;
    display: flex;
    align-items: center;
}

.create-container div {
    margin: 0 auto;
}

.study {
    font-size: 3.0rem;
}

.btn-actions {
    width: 55%;
    margin: 0 auto;
}

.create-study {
    margin: 0 auto;
}

.edit-image {
    margin-top: 7px;
    color: #255250;
    letter-spacing: 2px;
    line-height: 14px;
    text-align: center;
}

.edit-image:hover {
    text-decoration: underline;
}

.profile-icon {
    border-radius: 100%;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.profile-image {
    border-radius: 100%;
    width: 154px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.profile-icon.personal-info-image:hover,
.profile-image.personal-info-image:hover {
    background-color: #696666;
    opacity: 0.9;
    cursor: pointer;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.profile-image.personal-info-image:hover img {
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    filter: brightness(0.5);
}

.profile-icon.personal-info-image:hover .middle,
.profile-image.personal-info-image:hover .middle {
    opacity: 1;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.profile-image-top img {
    margin-top: -100px;
}

.middle {
    position: absolute;
    top: 50%;
    opacity: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.personal-info,
.security-info {
    width: 434px;
    margin: 0 auto;
}

.security-info {
    margin-top: 90px;
}

.writing-container {
    margin-top: 39px;
}

.bio-container {
    margin-top: 54px;
}

#personal-info-form {
    margin-top: 48px;
}

.divider {
    box-sizing: border-box;
    height: 1px;
    width: 50%;
    margin: 0 auto;
    margin-top: 100px;
    border: 2px solid #bcb8b8;
}

.passwords {
    margin-top: 56px;
}

.passwords .field:not(:first-child) {
    margin-top: 36px;
}

.help {
    margin-top: 10px;
}

.help.invalid {
    color: red;
    width: 50%;
}

.input.ng-invalid.ng-touched,
.input.error {
    border-bottom: 1px solid red !important;
}

.input.ng-touched.ng-valid:not(.error) {
    border-bottom: 1px solid lightgreen !important;
}

.help.valid {
    color: green;
}

.save-container {
    margin: 0 auto;
}

.is-active {
    overflow: hidden;
}

.modal *:not(.btn):not(.input) {
    border: none !important;
    border-radius: 0px !important;
    font-family: 'museo-sans', sans-serif;
}

.modal-card {
    box-shadow: 0 4px 8px 2px rgba(97, 93, 93, 0.5);
}

.study-card {
    margin: 0 auto;
}

.use-icon {
    height: 100px;
}

.no-margin {
    margin-top: 0;
}

.study-list {
    margin-top: 36px;
    margin-bottom: 103px;
    width: 75%;
    max-width: 75%;
    margin: 0 auto;
}

.card {
    height: 487px;
    width: 100%;
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px 2px rgba(202, 187, 187, 0.5);
    padding: 0;
    margin-bottom: 50px;
}

.card-backdrop {
    width: 100%;
    height: 150px;
    clip-path: inset(0 0 0 0);
}

.card-backdrop img {
    width: 100%;
    height: auto;
}

.study-image {
    float: right;
    margin-right: 40px;
    margin-top: -50px;
}

.study-image img {
    height: 100px;
    width: 100px;
    border: 4px solid white;
}

.card-content .card-text {
    margin-left: 36px;
}

.study-light {
    background-color: #255250;
    margin-bottom: 46px;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.title.is-4 {
    display: inline-block;
}

@media screen and (max-width: 768px) {
    .head {
        padding-top: 140px;
    }
    .title.content-header {
        text-align: center !important;
    }
    .study-list {
        width: 90%;
    }
    .study-image {
        margin-right: 0;
    }
    .study-image img {
        width: 80px;
        height: 80px;
    }
    .card-backdrop {
        height: 100px;
    }
    .card-text {
        margin-left: 10px !important;
    }
    .btn-actions {
        width: 80%;
    }
    .create-container {
        width: 80%;
    }
    #main {
        margin-bottom: 100px;
    }
    .no-study {
        padding: 10px;
    }
    .personal-info,
    .security-info {
        width: 80%;
    }
}