<div class="container has-text-centered" id="main-text" data-aos="fade-down" data-aos-duration="1200">
    <i class="fa fa-unlock-alt envelope"></i>
    <h1>Reset Password</h1>
</div>
<div class="container has-text-centered" id="sub-text" data-aos="fade-up" data-aos-duration="1200">
    <div id="email-reset">
        <form [formGroup]="passwordResetForm" (ngSubmit)="sendPasswordReset()">
            <div class="field" data-aos="fade-up-right" data-aos="fade-up-left" data-aos-duration="1200">
                <label class="label" for="email">Email:</label>
                <input (keyup)="passwordSent = false; notFound = false;" formControlName="email" class="input" required type="text" id="email"
                    name="email" [class.error]="notFound">
                <p *ngIf="email.invalid && email.touched && email.errors['required']" class="help invalid" data-aos="fade-up-right">
                    Email is required</p>
                <p *ngIf="email.invalid && email.touched && email.errors['pattern']" class="help invalid" data-aos="fade-up-right">
                    Please provide a valid email</p>
                <p *ngIf="email.valid && email.touched && notFound" class="help invalid" data-aos="fade-up-right">
                    Hmm...we don't have that email on file. Are you sure it's correct?</p>
                <p *ngIf="email.valid && email.touched && !notFound" class="help valid" data-aos="fade-up-right">
                    Ready to send password reset, sir! </p>
            </div>
            <button data-aos="zoom-in" data-aos-duration="1200" *ngIf="!passwordSent" class="reset-cta btn" type="submit" [disabled]="passwordResetForm.invalid || notFound">Reset Password
            </button>
        </form>
    </div>
    <div id="more-info" *ngIf="passwordSent" data-aos="fade-up" data-aos-duration="1200">
        <p class="sent-password-reset">An email has been sent to {{email.value}}.</p>
        <p class="resend-password-reset">Didn't get it? We can resend it!
            <a class="password-reset-link" (click)="resendResetPassword()">Resend Password Reset Email</a>
        </p>
    </div>
    <button data-aos="zoom-in" data-aos-anchor="#more-info" data-aos-duration="1200" *ngIf="passwordSent" class="reset-cta btn"
        (click)="toSignIn()">
        Back to Sign In
    </button>
</div>