/* You can add global styles to this file, and also import other style files */

$tooltip-max-width: 50rem;
@import url('https://use.typekit.net/uet5lfg.css');
.tooltip.is-tooltip-multiline::before {
    width: 436px;
    box-shadow: 0 4px 8px 2px rgba(202, 187, 187, 0.5) !important;
    background-color: white !important;
    color: black !important;
    font-family: 'museo-sans', serif !important;
    font-size: 1.5rem;
    letter-spacing: 1.93px;
    line-height: 19px;
}

.tooltip.is-tooltip-bottom.is-tooltip-active:not(.is-loading)::after,
.tooltip.is-tooltip-bottom:focus:not(.is-loading)::after,
.tooltip.is-tooltip-bottom:hover:not(.is-loading)::after {
    border-color: transparent transparent white transparent !important;
}

.tooltip.is-tooltip-active::before,
.tooltip:hover::before {
    font-size: 0.9rem !important;
}

html {
    height: 100%;
    font-family: 'museo-sans', serif !important;
}

body {
    font-family: 'museo-sans', serif !important;
}

@-moz-keyframes bounceTop {
    0%,
    20%,
    50%,
    80%,
    100% {
        -moz-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-5px);
        transform: translateY(-5px);
    }
    60% {
        -moz-transform: translateY(-3px);
        transform: translateY(-3px);
    }
}

@-webkit-keyframes bounceTop {
    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
    60% {
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
    }
}

@keyframes bounceTop {
    0%,
    20%,
    50%,
    80%,
    100% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
    60% {
        -moz-transform: translateY(-3px);
        -ms-transform: translateY(-3px);
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
    }
}

@keyframes fadeInLeftTop {
    0%,
    30%,
    60% {
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
    }
    80% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes slideInUpTop {
    0%,
    30%,
    60% {
        transform: translate3d(0, 100%, 0);
        visibility: visible;
        opacity: 0;
    }
    80% {
        opacity: 0.8;
    }
    100% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@keyframes fadeInDownTop {
    0%,
    30%,
    60% {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }
    80% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes fadeInUpTop {
    0%,
    30%,
    60% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    80% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

.toast-title,
.toast-message {
    font-family: 'museo-sans', sans-serif;
    letter-spacing: 1px;
}

.toast {
    background-color: #06292a !important;
    box-shadow: 0 4px 8px 2px rgba(105, 100, 100, 0.5) !important;
}

.link-container {
    width: 80%;
    padding-top: 10px;
}

.link-container .more-link {
    padding: 8px;
    border: 1px solid #6B6B6B;
    border-radius: 7px;
    color: black;
    background-color: #FFFFFF;
}

.link-container .more-link:hover {
    background-color: rgb(209, 209, 209);
    text-decoration: none !important;
    transition: 0.2s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.more-link {
    color: #255250;
    font-family: "museo-sans", sans-serif;
    font-size: 0.9rem;
    letter-spacing: 1px;
    line-height: 16px;
}

.more-link:hover {
    text-decoration: underline;
}

div[class^="verse-text-"] {
    background-color: #FFFFFF;
    position: absolute;
    box-shadow: 0 4px 8px 2px rgba(202, 187, 187, 0.5);
    z-index: 500;
    padding: 30px;
    font-size: 1.0rem;
}

.card-body span:hover,
.verse-link:hover {
    cursor: pointer;
    text-decoration: underline;
}

.verse-container {
    width: 80%;
    padding-top: 10px;
}

.verse-container .verse-link {
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #6B6B6B;
    border-radius: 7px;
    color: black;
    background-color: #FFFFFF;
}

.verse-container .verse-link:hover {
    background-color: rgb(209, 209, 209);
    text-decoration: none !important;
    transition: 0.2s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.verse-link {
    font-size: 1.0rem;
}

.card-body span,
.verse-link {
    color: #255250;
}

n {
    margin-right: 5px;
    margin-left: 5px;
    color: #255250;
}

.columns {
    margin-right: auto;
}

.notif-image {
    border-radius: 100%;
    margin-top: -5px;
    float: right;
}

.badge[data-badge]::after {
    background-color: #255250 !important;
}

.badge.is-badge-small[data-badge]::after {
    left: calc(100% - (1.25rem / 2)) !important;
}