<app-navbar></app-navbar>

<div class="container has-text-centered" id="main-text">
    <h1>Search</h1>
</div>
<div class="container has-text-centered" id="sub-text">
    <p>A smart and simple search engine</p>
</div>
<div class="control has-text-centered" id="search-bar">
    <form #search="ngForm" (ngSubmit)="searchService.searchES(searchQuery)">
        <ul id="wrapper">
            <li id="search-input">
                <input name="search" [(ngModel)]="searchQuery" class="is-large" id="search" type="text"
                       placeholder="Search">
            </li>
            <li id="search-button">
                <button type="submit" class="button is-large" id="button"><img src="/assets/icons/search-button-icon.svg"></button>
            </li>
        </ul>
    </form>
</div>
<div class="divider"></div>
<app-results *ngIf="searchService.results.length > 0"></app-results>