/* navbar css */

.navbar {
    width: 100%;
    background: transparent;
    animation: fadeInDown 2s;
}

.navvy {
    margin: 24px auto 0 auto;
    width: 100%;
}

.nav-link {
    width: 73px;
    line-height: 19px;
    letter-spacing: 1px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
}

#logo {
    position: relative;
    left: 88px;
    float: left;
}

#logo-link {
    background: url('/assets/icons/white-logo.svg') no-repeat center;
    font-size: 2rem;
    color: transparent;
    overflow: hidden;
    margin-top: 3px;
    text-indent: 100%;
    white-space: nowrap;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#logo-link:hover {
    filter: brightness(0.8);
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#sign-in {
    position: relative;
    right: 88px;
    float: right;
}

.nav-link:hover {
    color: #afacac;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}


/* top/banner css */

.top {
    background-color: #567da7;
    background: url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%0A%20%20%20%20%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%0A%20%20%20%20%20width%3D%221500%22%20height%3D%22823%22%0A%20%20%20%20%20viewBox%3D%220%200%201500%20823%22%3E%0A%20%20%3Cfilter%20id%3D%22blur%22%20filterUnits%3D%22userSpaceOnUse%22%20color-interpolation-filters%3D%22sRGB%22%3E%0A%20%20%20%20%3CfeGaussianBlur%20stdDeviation%3D%2220%2020%22%20edgeMode%3D%22duplicate%22%20/%3E%0A%20%20%20%20%3CfeComponentTransfer%3E%0A%20%20%20%20%20%20%3CfeFuncA%20type%3D%22discrete%22%20tableValues%3D%221%201%22%20/%3E%0A%20%20%20%20%3C/feComponentTransfer%3E%0A%20%20%3C/filter%3E%0A%20%20%3Cimage%20filter%3D%22url%28%23blur%29%22%0A%20%20%20%20%20%20%20%20%20xlink%3Ahref%3D%22data%3Aimage/jpeg%3Bbase64%2C/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAMDAwMDAwQEBAQFBQUFBQcHBgYHBwsICQgJCAsRCwwLCwwLEQ8SDw4PEg8bFRMTFRsfGhkaHyYiIiYwLTA+PlQBAwMDAwMDBAQEBAUFBQUFBwcGBgcHCwgJCAkICxELDAsLDAsRDxIPDg8SDxsVExMVGx8aGRofJiIiJjAtMD4+VP/CABEIABgAKgMBIgACEQEDEQH/xAAbAAACAgMBAAAAAAAAAAAAAAAFBwYJAAEECP/aAAgBAQAAAABCHjvSsrP61MGnd2EeDpKn52grdP/EABgBAAIDAAAAAAAAAAAAAAAAAAABAgME/9oACAECEAAAAM5alL//xAAXAQADAQAAAAAAAAAAAAAAAAABAgQD/9oACAEDEAAAALXlLZ//xAAnEAABBAICAgIBBQEAAAAAAAABAgMEBQYRAAcSMRMhQRQiJDJRkf/aAAgBAQABPwDsXPu553cmWVldmFrCgx7Z0DxePi03vQ0ONdn9h0tjFr3r+ylx2mPkedkPqSpR96K065b9l5rOpTLr72fG8Hh8xMon40+yN8rewu1GbUSHZz9nTzNKQIkkuPxUa+lkDXkFfkc7G7H7kTdoRSXN/ChFAUsla9g+WjzEshvZGK0TzlnLUtysiLUfmUNlTQJOgeZZYv1ncOULhtrfdN5JceZbR5rU0k6V/wAH2OZDkFbdtOrTFebWy0PmQ42lTrrYO9BsHYIPKZ+ZDmNs28RNU082o+bzYBfQNBLYRvQUB73zru3gQry7K5jTcZxX8YOKSgLJcUCUev2/XO5crk09bWv19gmO6VuqDg0rySPEa/IO98w15UjEMfdWdqcqYaif9KmknmRU1zH7by+WmlsQH7ZaEvJiueBSF7KgrXJtILeakTKh5wNAeDxYWlaSPZSsAEHkfDspyq6DsyHYRK+NMW8w3Ihr81ISdAHzSAVH3s8kV1lHU7WLopkiG4CQv9M44FFX2Ss6/tv73zLOv8kkynIsOit3WEbW1uve8ErPsFSQPLmEQJzeF44hcV5Kk08IKBQRohlPP//EABkRAAMBAQEAAAAAAAAAAAAAAAABAhEhEv/aAAgBAgEBPwCrfeku96iNEjzpCxH/xAAcEQABBQEBAQAAAAAAAAAAAAABAAIDERIxQnH/2gAIAQMBAT8AjY0eQbHU5kefnKClDRVdWijI5SHVFf/Z%22%0A%20%20%20%20%20%20%20%20%20x%3D%220%22%20y%3D%220%22%0A%20%20%20%20%20%20%20%20%20height%3D%22100%25%22%20width%3D%22100%25%22/%3E%0A%3C/svg%3E);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.top-enhanced {
    background: url('/assets/images/background-images/home_bg-min.jpg') no-repeat center center fixed;
    background-size: cover;
    transition: background 0.5s;
    transition-timing-function: ease-in-out, linear, step-start, cubic-bezier(0.215, 0.61, 0.355, 1);
}

.biblya>h1 {
    height: 107px;
    width: 379px;
    color: #ffffff;
    font-size: 96px;
    font-weight: bold;
    letter-spacing: 8px;
    line-height: 131px;
    text-transform: uppercase;
}

.biblya {
    position: relative;
    top: 50%;
}

.mid-nav {
    width: 295px;
    margin: 0 auto;
    text-align: center;
}

.hero-body {
    padding-top: 0;
    padding-bottom: 10%;
}

.hero-body .title {
    height: 107px;
    color: #ffffff;
    font-family: 'Avenir Next';
    font-size: 10rem;
    font-weight: bold;
    letter-spacing: 8px;
    line-height: 131px;
    text-transform: uppercase;
    animation: fadeInLeft 1.5s;
    /* animation-delay: 2s; */
}

.hero-body .subtitle {
    height: 66px;
    width: 400px;
    position: relative;
    left: 1.5%;
    top: 25%;
    color: #ffffff;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 4px;
    line-height: 45px;
    text-transform: lowercase;
    animation: slideInUp 2.5s;
}

.get-started-btn {
    margin-top: 40px;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 25px;
    text-align: center;
    height: 56px;
    width: 194px;
    border: 2px solid #ffffff;
    border-radius: 3px;
    background: transparent;
    font-family: 'Avenir Next';
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    animation: fadeInDown 3.5s;
}

.get-started-btn:hover {
    color: #343232;
    background-color: #f1f1f1;
    border: 3px solid #f1f1f1;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.learn-more-btn {
    color: #343232;
    border: 3px solid #ffffff;
    border-radius: 3px;
    background-color: #ffffff;
    box-shadow: 0 5px 15px 2px rgba(64, 62, 62, 0.8);
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    position: relative;
    top: 29px;
    animation: fadeInUp 3.5s;
}

.learn-more-btn:hover {
    background-color: #f1f1f1;
    border: 3px solid #f1f1f1;
    box-shadow: none;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.btn {
    font-family: 'Avenir Next';
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 25px;
    text-align: center;
    font-size: 21px;
    height: 68px;
    width: 225px;
}

.btn:hover {
    cursor: pointer;
}

.scroll {
    margin-bottom: 10px;
    color: #ffffff;
    font-family: 'Avenir Next';
    font-size: 0.8rem;
    font-weight: bold;
    letter-spacing: 3px;
    line-height: 14px;
    text-align: center;
    animation: fadeInUp 5s, bounce 3s infinite;
}