<section class="hero is-fullheight top">
    <div class="hero-head">
        <nav class="navbar">
            <ul class="navvy">
                <li id="logo">
                    <a class="nav-link" id="logo-link">Logo</a>
                </li>
                <li id="sign-in">
                    <a class="nav-link">Sign In</a>
                </li>
                <div class="mid-nav">
                    <a class="nav-link">Home</a>
                    <a class="nav-link">About</a>
                    <a class="nav-link">Search</a>
                </div>
            </ul>
        </nav>
    </div>
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-7 is-offset-1">
                    <h1 class="title">
                        Biblya
                    </h1>
                    <h2 class="subtitle">
                        bible study for the digital age
                    </h2>
                </div>
                <div class="column is-1">
                    <button class="get-started-btn btn">
                        Get Started
                    </button>
                    <button class="learn-more-btn btn">
                        Learn More
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="hero-foot">
        <div class="container has-text-centered">
            <p class="scroll">scroll to learn more</p>
        </div>
    </div>
</section>