<div class="banner-bg">
    <nav class="navbar">
        <ul class="navvy">
            <li id="logo">
                <a class="nav-link">Logo</a>
            </li>
            <li id="sign-in">
                <a class="nav-link">Sign In</a>
            </li>
            <div class="mid-nav">
                <a class="nav-link">Home</a>
                <!-- <li id="home">
                </li> -->
                <a class="nav-link">About</a>
                <!-- <li id="about">
                </li> -->
                <a class="nav-link">Search</a>
                <!-- <li id="search">
                </li> -->
            </div>
        </ul>
    </nav>
    <div class="biblya">
        <h1>Biblya</h1>
    </div>
</div>