.banner-bg {
    height: 1080px;
	width: 100%;
    border: 1px solid #979797;
    background: rgb(124, 124, 124);
    /*background: url(https://cdn.discordapp.com/attachments/364209439319916544/399025977990316053/bible_study_bg.jpg) no-repeat center center fixed;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
}

.navbar {
    height: 62px;
    width: 100%;
    background: rgba(13, 19, 97, 0.767);
}

.navvy {
    margin-top: 24px;
    margin-left: 44px;
    height: 30px;
    width: 1850px;
    background: rgb(100, 21, 21);
}

#Logo {
    background: yellow;
    margin-left: 88px;
    float: left;
}

#Home {
    background: yellow;
    margin-left: 645px;
    float: left;
    
}

#About {
    background: yellow;
    margin-left: 56px;
    float: left;
}

#Search {
    background: yellow;  
    margin-left: 56px;
    float: left;
}

#Sign-in {
    background: yellow;  
    margin-left: 645px;
    float: left;
}   

.biblya {
    width: 380px;
    height: 110px;
    margin-top: 400px;
    margin-left: 250px;
    background: green
}

